<div id="features" class="home-section home-features">
  <% data.home_features.each_with_index do |feature, i| %>
    <div class="home-feature media-aligned-<%= i.even? ? "left" : "right" %>">
      <div class="home-feature-content">
        <h3><%= feature.title %></h3>
        <p><%= feature.description %></p>
      </div>

      <div class="home-feature-media">
        <img alt="" src="<%= feature.image %>">
      </div>
    </div>
  <% end %>
</div>
