<div id="goals" class="home-section project-planning">
  <h2>Technical Goals &amp; Plans</h2>

  <p>Our fork will focus on fixing the pain points we've experienced in our years of developing against Spree.</p>

  <div class="project-plans-wrapper">
    <div class="project-plans">
      <div class="project-plan">
        <p><strong>Open Source You Can Trust</strong></p>
        <p>Code integrity is the top priority. All pull-requests are reviewed by multiple contributors and verified by our test suite before being merged into the project to ensure a clean and stable codebase.</p>
      </div>

      <div class="project-plan">
        <p><strong>Easy Extensibility</strong></p>
        <p>No more <code>class_eval</code>. Well defined extension points allow for safe and simple customizations while still ensuring smooth upgrades from one version to the next.</p>
      </div>

      <div class="project-plan">
        <p><strong>More Secure</strong></p>
        <p>
          We're committed to improving the security of all stores, from introducing a configurable role permissions system
          to fixing vulnerabilities, which are announced on the <a href="https://groups.google.com/forum/#!forum/solidus-security">solidus-security</a> mailing list.
        </p>
      </div>

      <div class="project-plan">
        <p><strong>API Stability</strong></p>
        <p>We intend to introduce clearly defined and stable APIs (both HTTP and ruby) which won't change or go away.</p>
      </div>

      <div class="project-plan">
        <p><strong>Take the Easy Path</strong></p>
        <p>A clear and straightforward migration path has been created to move existing Spree stores onto the Solidus platform with ease. Read our <a href="https://github.com/solidusio/solidus/wiki/Versioning">Version guidelines</a> guidelines for details.</p>
      </div>

      <div class="project-plan">
        <p><strong>This Is Our Business Too</strong></p>
        <p>Our core contributors rely on Solidus every day. We are as much invested in it’s success as anyone can be and will continue to be the most active supporters and contributors of the project.</p>
      </div>
    </div>
  </div>
</div>
