<div id="goals" class="home-section project-planning">
  <h2>Technical Goals &amp; Plans</h2>

  <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>

  <div class="project-plans-wrapper">
    <div class="project-plans">
      <div class="project-plan">
        <p><strong>Accounting integrations</strong></p>
        <p>With real-time access to reporting data, you can connect Stripe with your existing accounting or ERP systems.</p>
      </div>

      <div class="project-plan">
        <p><strong>Proven fraud protection</strong></p>
        <p>Stripe actively works to protect your business from fraudulent charges and monitors suspicious transactions.</p>
      </div>

      <div class="project-plan">
        <p><strong>Act locally, work globally</strong></p>
        <p>Work with international customers right out of the box while still getting paid in your preferred currency.</p>
      </div>

      <div class="project-plan">
        <p><strong>Operations, simplified</strong></p>
        <p>Handling billing support and disputes is easy with Stripe — address issues with a few clicks, or automate it.</p>
      </div>

      <div class="project-plan">
        <p><strong>Battle-tested systems</strong></p>
        <p>High availability, transparent uptime reporting, and always ready for high transaction throughput.</p>
      </div>

      <div class="project-plan">
        <p><strong>Rich 3rd-party ecosystem</strong></p>
        <p>You can use Stripe with lots of integrations that provide everything from email automation to hassle-free hosting.</p>
      </div>
    </div>
  </div>
</div>
