<div class="home-section stretched darker lead">
  <h2>E-commerce with an API you can trust</h2>

  <p>Meet Solidus. An open source, ecommerce application for high volume retailers. Built with Ruby on Rails, this mountable engine provides a scalable, stable, and highly customizable platform for online commerce.</p>

  <p><a class="button" href="https://github.com/solidusio/solidus">Get Started</a></p>
</div>
