<div class="home-section stretched darker lead">
  <h2>E-commerce with an API you can trust</h2>

  <p>Meet Solidus. An open source, ecommerce application for high volume retailers. Built with Ruby on Rails, this mountable engine provides a scalable, stable, and highly customizable platform for online commerce.</p>

  <div class="api-features">
    <div class="grid-items">
      <div class="api-feature grid-item">
        <img alt="" src="http://placehold.it/100x100">
        <strong>JSON API</strong><br>
        Increase your productivity with predictable responses. Fusce ullamcorper facilisis libero, a luctus orci luctus id.
      </div>

      <div class="api-feature grid-item">
        <img alt="" src="http://placehold.it/100x100">
        <strong>Fully tested</strong><br>
        We worried about the details so you don't have to. Aenean porttitor arcu quam, sit amet ornare ipsum accumsan in.
      </div>

      <div class="api-feature grid-item">
        <img alt="" src="http://placehold.it/100x100">
        <strong>Secure</strong><br>
        We take your store's security seriously. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>

  <p><a class="button" href="https://github.com/solidusio/solidus">Get Started</a></p>
</div>
