<div class="home-section stretched darker lead">
  <h2>Open Source eCommerce done right</h2>

  <p>Meet Solidus. An open source, eCommerce application for high volume retailers. Built with Ruby on Rails, this mountable engine provides a scalable, stable, and highly customizable platform for online commerce.</p>

  <div class="api-features">
    <div class="grid-items">
      <div class="api-feature grid-item">
        <strong>Driven by Experience</strong><br>
        Developed and maintained by eCommerce experts, Solidus is continually improved through the knowledge and talent of its open source contributors.
      </div>

      <div class="api-feature grid-item">
        <strong>Adaptable</strong><br>
        Confidently scale your store to any size without compromising on performance.
      </div>

      <div class="api-feature grid-item">
        <strong>Smart Solutions to Unique Problems</strong><br>
        One size does not fit all. Solidus is a flexible solution that caters to the individual needs of your business.
      </div>
    </div>
  </div>

  <p><a class="button" href="https://github.com/solidusio/solidus">Get Started</a></p>
</div>
