<div class="home-section stretched darker newsletter">
  <p>No marketing or trickery, we'll only send you information we know you'll want to hear.</p>

  <form class="newsletter-signup-form">
    <input type="email" name="email" placeholder="hello@solidus.io">
    <input type="submit" value="Sign Me Up">
  </form>
</div>
