<div id="people" class="home-section people stretched">
  <div class="people-wrapper">
    <div class="people-lead">
      <h2>Who We Are</h2>

      <p>Solidus powers both <a href="https://bonobos.com/">Bonobos.com</a> and <a href="https://ayr.com/">Ayr.com</a>.</p>

      <p>Solidus is backed and developed primarily by Bonobos and <a href="http://www.freerunningtech.com/">FreeRunning Technologies</a>. Both companies have leveraged the Spree platform to build large eCommerce stores while contributing back to the open source project.</p>

      <p>Solidus is currently maintained by six core team members.</p>
    </div>

    <div class="people-list">
      <% data.people.each do |person| %>
        <div class="person">
          <%= image_tag person.avatar, class: "person-avatar" %>

          <h4 class="person-name">
            <a href="<%= person.github %>"><%= person.name %></a>
          </h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
