<div id="people" class="home-section people stretched">
  <div class="people-wrapper">
    <div class="people-lead">
      <h2>Core Contributors</h2>

      <p>
        Solidus is backed and developed primarily by <a href="https://stembolt.com/">Stembolt</a>,
        <a href="https://bitspire.de/en/home">Bitspire</a>, and
        <a href="https://www.lostmy.name/">lostmy.name</a>. All three companies
        have leveraged the Spree platform to build large eCommerce stores while
        contributing back to the open source project.
      </p>

      <p>
        Solidus powers <a href="https://bonobos.com/">Bonobos.com</a> and
        <a href="https://www.lostmy.name/">lostmy.name</a>.
      </p>
    </div>

    <div class="people-list">
      <% data.people.each do |person| %>
        <div class="person">
          <%= image_tag person.avatar, class: "person-avatar" %>

          <h4 class="person-name">
            <a href="<%= person.github %>"><%= person.name %></a>
          </h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
