<div id="people" class="home-section people stretched">
  <div class="people-wrapper">
    <div class="people-lead">
      <h2>Meet the Solidus Core Contributors</h2>

      <p>
        Solidus is backed and developed primarily by <a href="https://stembolt.com/">Stembolt</a>,
        <a href="https://nebulab.it/">Nebulab</a>, and
        <a href="https://www.lostmy.name/">Lost My Name</a>. All three companies
        have leveraged the Solidus platform to build large ecommerce stores while
        contributing back to the open source project.
      </p>

    </div>

    <div class="people-list">
      <% data.people.each do |person| %>
        <div class="person">
          <%= image_tag person.avatar, class: "person-avatar" %>

          <h4 class="person-name">
            <a href="<%= person.github %>"><%= person.name %></a>
          </h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
