<div id="lead" class="home-section welcome-lead-container stretched">
  <div class="welcome-lead">
    <h2>A Fork of Spree Commerce</h2>

    <p>For years we have used, loved, and contributed back to Spree, but in order to push the platform in the right direction, we belive a hard fork is required. Our vision for Solidus stems from years of experience building creative solutions for e-commerce businesses and knowing the unique challenges they face.</p>

    <p>Solidus will focus on high volume stores backed by experienced and professional Rails developers, raising the barrier to entry in exchange for the performance and stability large stores require.</p>

    <p class="welcome-lead-cta">
      <a class="button button-secondary" href="http://docs.solidus.io/">Documentation</a>
      <a class="button" href="https://github.com/solidusio/solidus">Source Code</a>
    </p>
  </div>
</div>
