<div id="lead" class="home-section welcome-lead-container stretched">
  <div class="welcome-lead">
    <h2>A Fork of Spree Commerce</h2>

    <p>Solidus aims to differentiate itself with high quality, secure, scalable code in every commit. Solidus is being built for professionally-developed, high transaction stores with customized workflows.</p>

    <p class="welcome-lead-cta">
      <a class="button button-secondary" href="http://docs.solidus.io/">Documentation</a>
      <a class="button" href="https://github.com/solidusio/solidus">Source Code</a>
    </p>
  </div>
</div>
