<div class="carousel col-lg-12">
  <div class="animated-logos community-logos carousel__list">
    <% data.brands.values.each do |brand| %>
      <div class="community-logos__item">
        <a href="<%= brand[:url] %>" target="_blank">
          <%= inline_svg("community-logos/#{brand[:logo]}", class: "isvg") %>
        </a>
      </div>
    <% end %>
  </div>
</div>
