<div class="content-block text-center" data-aos="fade">
  <div class="container">
    <h2 class="title mb-4">Have a question? Ask the community.</h2>
    <a class="btn btn-primary btn-w-icon" href="http://slack.solidus.io/" target="_blank"><%= inline_svg("social-icons/slack.svg", class: "isvg") %> <span class="text">Join our Slack</span></a>
  </div>
</div>