<div id="contact" class="contact-us">
  <ul>
    <li><a href="mailto:hello@solidus.io">hello@solidus.io</a></li>
    <li><a href="https://github.com/solidusio/solidus">Github</a></li>
    <li><a href="#">#solidusio on irc.freenode.net</a></li>
  </ul>
</div>
