<div class="call-to-action content-block content-block-white text-center">
  <div class="container container-md">
    <h2 class="title">Join the brands that are changing the future of eCommerce.</h2>
    <a class="btn btn-primary btn-lg" href="/get-started">Get started</a>
  </div>
</div>
