<div class="content-block content-block-gray-100 text-center" data-aos="fade">
  <div class="container container-xs">
    <h4 class="title mb-1">Your feedback is important to us!</h4>
    <p>Join the Solidus user testing mailing list to share your opinions and participate in user testing. </p>

    <form action="" class="needs-validation" novalidate>
      <div class="form-group form-group-submittable">
        <div class="has-float-label">
          <input type="email" class="form-control " name="inputName" id="inputName" placeholder="Email" required>
          <label for="inputName">Email</label>
          <div class="invalid-feedback">Please enter correct email</div>
          <button type="submit" class="btn btn-link"><%= inline_svg("icons/arrow-right.svg", class: "isvg") %></button>
        </div>
      </div>
    </form>
  </div>
</div>