<footer class="main-footer">
  <%= partial "partials/contact" %>

  <nav class="footer-nav">
    <a class="footer-logo" href="/">Solidus</a>
    <ul>
      <li><a href="#top">Introduction</a></li>
      <li><a href="#lead">The Fork</a></li>
      <li><a href="#goals">Goals &amp; Plans</a></li>
      <li><a href="#people">Who We Are</a></li>
      <li><a href="https://github.com/solidusio/solidus">Github</a></li>
    </ul>
  </nav>
</footer>
