<div class="main-footer-wrapper">
  <footer class="main-footer">
    <div class="footer-tagline">
      <%= partial "branding/mark" %>
      <h3>Solidus is an open source, ecommerce application for high volume retailers.</h3>
    </div>

    <div class="footer-cta">
      <a class="button button-secondary" href="http://docs.solidus.io/">Documentation</a>
      <a class="button" href="https://github.com/solidusio/solidus">Github</a>
    </div>
  </footer>
</div>
