<footer class="main-footer">
  <div class="footer-tagline">
    <%= partial "branding/mark" %>
    <h3>Solidus is an open source, ecommerce application for high volume retailers.</h3>
  </div>

  <div class="footer-cta">
    <a class="button button-secondary" href="https://github.com/solidusio/solidus">Documentation</a>
    <a class="button" href="https://github.com/solidusio/solidus">Github</a>
  </div>

  <nav class="footer-nav">
    <ul>
      <li><a href="#features">Features</a></li>
      <li><a href="#lead">The Fork</a></li>
      <li><a href="#goals">Technical Goals &amp; Plans</a></li>
      <li><a href="#people">Who We Are</a></li>
      <li><a href="https://github.com/solidusio/solidus">Github</a></li>
    </ul>
  </nav>
</footer>
