<div class="main-footer-wrapper">
  <div class="footer-mailing-list">
    <form action="//solidus.us13.list-manage.com/subscribe/post?u=679f4835b2683d59bc5762ec3&amp;id=79a163ad95" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <h2>Join the Solidus user testing group</h2>
      <p>Help direct the Solidus admin with your feedback</p>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
      <!-- bot prevention -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_679f4835b2683d59bc5762ec3_79a163ad95" tabindex="-1" value="">
      </div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </form>
  </div>

  <footer class="main-footer">
    <h3>Solidus is an open source ecommerce platform for high volume, complex storefronts with customizable needs.</h3>
    <a href="https://twitter.com/solidusio">Follow us on Twitter</a>
    <a href="http://slack.solidus.io/">Join the community on Slack</a>
    <a href="https://github.com/solidusio/solidus">Download Solidus on Github</a>
    <a href="http://docs.solidus.io">Documentation</a>
  </footer>
</div>
