<header class="main-header" role="banner">
  <nav class="main-nav">
    <% link_to "/", class: "logo" do %>
      <%= partial "branding/logo" %>
    <% end %>

    <ul>
      <li><a href="http://docs.solidus.io/">Documentation</a></li>
      <li><a href="https://github.com/solidusio/solidus">Github</a></li>
    </ul>
  </nav>
</header>
