<header class="main-header" role="banner">
  <nav class="main-nav">
    <% link_to "/", class: "logo" do %>
      <%= partial "branding/logo" %>
    <% end %>

    <ul>
      <li><a href="#contact">Contact</a></li>
      <li><a href="http://docs.solidus.io/">Docs</a></li>
      <li class="nav-highlight"><a href="https://github.com/solidusio/solidus">Get Started</a></li>
    </ul>
  </nav>

  <div class="header-content">
    <h1>An Open Ecommerce Application For High Volume Retailers</h1>
    <p>Meet Solidus. An open source, ecommerce application for high volume retailers. Built with Ruby on Rails, this mountable engine provides a scalable, stable, and highly customizable platform for online commerce.</p>

    <p>
      <a class="button" href="https://github.com/solidusio/solidus">Get Started</a>
    </p>
  </div>
</header>
