<div class="col col-lg-6">
  <h3 class="">
    Solidus powers automotive brands defining the future of eCommerce.
  </h3>
</div>
<div class="community-logos industries col col-lg-6">
  <% if current_page.data.title == 'Industries | Automotive' %>
    <% data.industries_logos[:automotive_logos].each do |automotive, info| %>
      <div class="community-logos__item">
        <a href="<%= info[:url] %>" target="_blank">
          <%= inline_svg("community-logos/#{info[:logo]}", class: "isvg") %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
