<div class="newsletter-form" id="mc_embed_signup">
  <form action="https://solidus.us13.list-manage.com/subscribe/post?u=679f4835b2683d59bc5762ec3&amp;id=3ce07e9582" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label for="mce-EMAIL">Stay up-to-date with the newsletter</label>
    <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Enter your email" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_679f4835b2683d59bc5762ec3_3ce07e9582" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button btn"></div>
    </div>
  </form>
</div>
