<% versions = Solidus::Version.collection_from_yaml_data(data.versions) %>

<table class="table text-center">
  <thead>
    <tr>
      <th>Version</th>
      <th>Supported</th>
      <th>Release Date</th>
      <th>EOL date</th>
    </tr>
  </thead>
  <tbody>
    <% versions.each do |version| %>
      <tr>
        <td><%= version.number %></td>
        <td><%= version.supported? ? "✅" : "⛔️" %></td>
        <td><%= version.release_date %></td>
        <td><%= version.eol_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
