<table class="table text-center">
  <thead>
    <tr>
      <th>Version</th>
      <th>Supported</th>
      <th>Release Date</th>
      <th>EOL date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2.10.x</td>
      <td>✅</td>
      <td>2020-01-15</td>
      <td>2021-07-15</td>
    </tr>
    <tr>
      <td>2.9.x</td>
      <td>✅</td>
      <td>2019-07-16</td>
      <td>2021-01-16</td>
    </tr>
    <tr>
      <td>2.8.x</td>
      <td>✅</td>
      <td>2019-01-29</td>
      <td>2020-07-29</td>
    </tr>
    <tr>
      <td>2.7.x</td>
      <td>⛔️</td>
      <td>2018-09-14</td>
      <td>2020-03-14</td>
    </tr>
    <tr>
      <td>2.6.x</td>
      <td>⛔️</td>
      <td>2018-06-16</td>
      <td>2019-12-16</td>
    </tr>
    <tr>
      <td>2.5.x</td>
      <td>⛔️</td>
      <td>2018-03-27</td>
      <td>2019-09-27</td>
    </tr>
    <tr>
      <td>2.4.x</td>
      <td>⛔️</td>
      <td>2017-11-07</td>
      <td>2019-05-07</td>
    </tr>
  </tbody>
</table>
