<div class="top-bar">
  <div class="container">
    <div class="top-bar-content">
      <a class="top-bar-content__link" href="https://conf.solidus.io/">
        <p>Your message here!</p>
        <button class="top-bar-content__link__cta">Learn More</button>
      </a>
      <div class="top-bar-close">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>