<div class="top-bar">
  <div class="container">
    <div class="top-bar-content">
      <a class="top-bar-content__link" href="https://conf.solidus.io/solidus-conf-7-solid-us-support-open-source/">
        <p>SolidusConf 7 | 27-28 Jan 2022</p>
        <button class="top-bar-content__link__cta">Learn More</button>
      </a>
      <div class="top-bar-close">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
