<nav class="main-nav">
  <a href="/" class="logo">Solidus</a>

  <ul>
    <li><a href="#contact">Contact</a></li>
    <li class="nav-highlight"><a href="https://github.com/solidusio/solidus">View Github</a></li>
  </ul>
</nav>

<header class="main-header" role="banner">
  <h1>An Open Ecommerce Application For High Volume Retailers</h1>
  <p>Meet Solidus. An open source, ecommerce application for high volume retailers. Built with Ruby on Rails, this mountable engine provides a scalable, stable, and highly customizable platform for online commerce.</p>
</header>
