---
title: Contact
---

<div class="content-block container">
  <div class="contact-block text-center">
    <h1 class="title">Success!</h1>
    <p class="lead mb-4 mb-md-6">Message received. We'll be in touch shortly.</p>
    <a href="/" class="btn btn-primary">Back to Homepage</a>
  </div>
</div>
