.button,
button,
input[type="submit"] {
  display: inline-block;
  padding: 0.8em 2.5em;
  border-radius: 3px;
  box-shadow: 0 3px 0 darken($color-primary, 10%);
  background: $color-primary;
  color: $white;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  &:hover {
    color: $white;
  }
}
