pre,
code {
  border: 1px solid $color-grey;
  background: lighten($color-grey, 10%);
}

pre {
  padding: $gutter/3;
}

code {
  color: $color-primary;
}

/* code within a pre should be rendered as normal */
pre code {
  border: none;
  background: none;
  color: $color-secondary;
}
