.main-footer-wrapper {
  background: $color-secondary;
}

.main-footer {
  color: $white;
  font-size: 0.9em;
  max-width: $width-max;
  margin: 0 auto;
  padding: 2.5em;
  text-align: center;

  a:not(.button) {
    color: $white;
    margin: 0 .75em;
    opacity: .6;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}
