.main-header {

  @include breakpoint(desktop) {
    position: relative;
    padding-top: 50%;
    height: 0;
    color: $white;
    background: image-url("header-working-computer.jpg") no-repeat;
    background-size: cover;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

.header-content {
  padding: $gutter;
  text-align: center;

  @include breakpoint(desktop) {
    position: absolute;
    @include center-y;
    width: 100%;
  }

  @include breakpoint(mobile) {
    font-size: 0.8em;
    line-height: 1.6em;
  }

  > * {
    max-width: 600px;
    margin: 0 auto;
  }

  p {
    margin-top: 30px;
  }
}
