.main-nav {
  max-width: $width-max;
  padding: $gutter/3 $gutter;

  @include breakpoint($desktop) {
    @include display(flex);
    @include align-items(center);
    margin: 0 auto;
    width: 100%;
  }

  @include breakpoint($mobile) {
    text-align: center;
    padding: $gutter/2 $gutter/3;
  }

  body:not(.index) & {
    border-bottom: 1px solid $color-grey;
  }
}

.logo {

  svg {
    width: 100px;
    fill: black;
  }
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  @include breakpoint($desktop) {
    @include flex(1);
    text-align: right;
  }

  @include breakpoint($mobile) {
    margin-top: $gutter/4;
    text-align: center;
  }

  li {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;

    @include breakpoint($mobile) {
      padding: 0.5em;
    }
  }
}
