.main-header {
  background: $color-secondary;
  color: $white;

  @include breakpoint(desktop) {
    position: relative;
    padding-top: 46%;
    height: 0;
  }
}

.header-content {
  padding: $base-padding;
  text-align: center;

  @include breakpoint(desktop) {
    position: absolute;
    @include center-y;
    width: 100%;

    h1:before {
      content: "|";
      display: block;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  @include breakpoint(mobile) {
    font-size: 0.7em;
    line-height: 1.6em;
  }

  > * {
    max-width: 600px;
    margin: 0 auto;
  }

  p {
    margin-top: 30px;
  }
}
