.main-nav {
  @include display(flex);
  max-width: $width-max;
  padding: 0 $base-padding*2;

  @include breakpoint(desktop) {
    position: absolute;
    top: 0;
    @include center-x;
    width: 100%;
  }
}

.logo {

}

.main-nav ul {
  @include flex(1);
  margin: 0;
  padding: 0;
  text-align: right;
  list-style: none;
  font-size: 0.8em;

  li {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    display: block;
    color: $white;
    text-decoration: none;
    padding: 1em;
  }
}
