.main-nav {
  max-width: $width-max;
  padding: $spacer*2;

  @include breakpoint(desktop) {
    @include display(flex);
    position: absolute;
    top: 0;
    @include center-x;
    width: 100%;
  }

  @include breakpoint(mobile) {
    background: $color-secondary;
    color: $white;
    text-align: center;
  }
}

.logo {

  svg {
    width: 100px;
    fill: $white;
  }
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;

  @include breakpoint(desktop) {
    @include flex(1);
    text-align: right;
  }

  @include breakpoint(mobile) {
    text-align: center;
  }

  li {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    display: block;
    color: $white;
    text-decoration: none;
    padding: 0.5em 1em;
  }
}

.nav-highlight {
  background: $color-primary;
  margin-left: 1em;
  border-radius: 3px;

  &:hover {
    background: lighten($color-primary, 10%);
  }

  a {
    padding: 0.5em 1em;
  }
}
