body.blog_index .main-content {
  @include clearfix;
}

.blog-content {
  @include breakpoint($desktop) {
    @include calc(width, "100% - 300px");
    float: left;
    padding-right: $gutter;
  }

  figure {
    width: 50%;
    margin: 2rem auto;
  }

  figcaption {
    text-align: center;
    color: $color-grey-dark;
  }
}

.blog-sidebar {
  background: $color-grey-light;
  padding: $gutter/2;
  border-radius: 3px;

  @include breakpoint($desktop) {
    width: 300px;
    float: right;
    margin: $gutter 0;
    @include clear-margins;
  }
}

.articles-list {
  margin: $gutter 0;

  @include breakpoint($desktop) {
    @include display(flex);
    @include flex-wrap(wrap);
    margin: $gutter (-$gutter/4);
    font-size: 0; // inline block hack
  }
}

.article-list-item {
  margin-bottom: $gutter/2;
  padding: 1em 3em;
  text-align: center;
  border: 1px solid $color-grey;

  @include breakpoint($desktop) {
    @include calc(width, "50% - #{$gutter/2}");
    display: inline-block;
    vertical-align: top;
    @include margin(null $gutter/4);
    font-size: $font-size-base;
  }
}

.article-list-item-title {
  margin: 0;
  font-size: 20px;
}

.article-list-item-meta {
  display: block;
  margin-top: $gutter/4;
  font-size: 12px;
  @include small-caps;
}

.blog-article {
  padding-right: $gutter;
}

.blog-article-header {
  margin-top: $gutter;
  @include clear-margins;

  h1 {
    margin: 0;
  }

  p {
    @include small-caps;
  }
}

.blog-article-content {
  margin-top: $gutter/2;
  padding-top: $gutter/2;
  border-top: 1px solid $color-grey;

  @include clear-margins;
}

.recent-articles {
  ol {
    padding-left: 0;
  }

  li {
    list-style: none;
    margin: 10px 0;

    .small-caps {
      font-size: 0.8em;
    }
  }
}

.pagination {
  margin: 3em 0;
  padding: 0;
  text-align: center;
  list-style: none;

  @include breakpoint($desktop) {
    @include calc(width, "100% - 300px - #{$gutter}");
  }

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
