body.blog {
  article, aside {
    max-width: 900px;
    margin: auto;
  }
}

.byline {
  font-style: italic;
  .author, .date {
    font-style: normal;
  }
}

.pagination {
  margin: 3em 0;
  text-align: center;
  list-style: none;

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
