.home-sections {

}

.home-section {
  border-top: 1px solid $color-grey;
  margin-top: 100px;
  padding: 100px $gutter 0;

  &.stretched {
    padding: 100px $gutter;
    background: $color-grey;

    + .home-section {
      margin-top: 0;
    }
  }

  @include breakpoint(desktop) {
    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
}

@import "home/grid-items";
@import "home/features";
@import "home/welcome";
@import "home/goals";
@import "home/people";
