.home-sections {
  padding: 0 $spacer;
}

.home-section {
  border-top: 1px solid $color-grey;
  margin-top: $spacer*2;
  padding: $spacer*2 0 0;

  @include breakpoint(desktop) {
    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
}

.home-lead {
  @include clear-margins;

  @include breakpoint(desktop) {
    h2 {
      text-align: center;
    }

    p:not(:last-child) {
      float: left;
      width: 50%;
      padding: 0 $spacer;
    }

    p:last-child {
      clear: left;
      text-align: center;
    }
  }
}

.project-goals {
  @include breakpoint(desktop) {
    @include clearfix;
  }
}

.project-goal {
  @include clear-margins;
  margin-top: $spacer*2;

  &:first-child {
    margin-top: 0;
  }

  @include breakpoint(desktop) {
    float: left;
    width: 50%;
    margin-top: 0;
    padding: 0 $spacer;
  }
}

.people-lead {
  @include clear-margins;

  @include breakpoint(desktop) {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

.people-list {
  margin-top: $spacer*2;

  @include breakpoint(desktop) {
    font-size: 0;
  }
}

.person {
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }

  @include breakpoint(desktop) {
    display: inline-block;
    width: 33.33%;
    padding: 0 $spacer;
    font-size: $base-font-size;
  }
}

.person-avatar {
  float: left;

  img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}

.person-content {
  margin-left: 50px + $spacer; // 50px == image width
  @include clear-margins;
}
