.home-sections {

}

.home-section {
  border-top: 1px solid $color-grey;
  margin-top: 100px;
  padding: 100px $gutter 0;

  @include breakpoint($mobile) {
    margin-top: $gutter;
    padding: $gutter $gutter/2 0;
  }

  &.stretched {
    padding: 100px $gutter;
    background: $color-grey;

    @include breakpoint($mobile) {
      padding: $gutter $gutter/2;
    }

    + .home-section {
      margin-top: 0;
    }
  }

  &.darker {
    background: $color-secondary;
    color: $white;
  }
}

@import "home/grid-items";
@import "home/lead";
@import "home/welcome";
@import "home/goals";
@import "home/newsletter";
@import "home/people";
