.bio-block{
  margin: 0 auto 3rem;
  max-width: 480px;

  &:last-child{ margin-bottom: 100px; }

  .card{
    font-size: $font-size-xs;
    min-height: 160px;
    margin-bottom: 1.5rem;
  }

  .photo{
    align-self: flex-end;
    width: 115px;
    flex-shrink: 0;

    .img-fluid{
      border-bottom-left-radius: $card-border-radius - 1px;
    }
  }

  .card-body{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  .name{
    margin-bottom: 0.5em;
  }

  .links{
    font-size: $font-size-base;
    margin-top: auto;
    margin-bottom: 0;
    .isvg{ margin-right: 5px; }
  }

  @include media-breakpoint-up(md){
    margin-bottom: 3.5rem;
    max-width: none;

    .card{ margin-bottom: 0; }
  }

  @include media-breakpoint-up(lg){
    .card{
      font-size: $font-size-base;
      min-height: 240px;
    }
    .card-body{
      padding-left: 0;
    }
    .photo{
      width: 190px;
    }
  }

  .data{
    .subheading{
      font-size: $font-size-xs;
      letter-spacing: 0.4px;
    }

    @include media-breakpoint-up(md){
      padding-left: 18px + $grid-gutter-width/2;
    }
  }
}