.content-block{
  padding-top: 65px;
  padding-bottom: 65px;

  @include media-breakpoint-up(md){
    padding-top: 130px;
    padding-bottom: 130px;

    .block-content{ max-width: 480px; }
  }

  &--skewed {
    padding-top: 65px;
    padding-bottom: 65px;
    transform: skewY(-9deg);
    &.intro {
      padding-bottom: 0;
      transform: skewY(0deg);
      &::before {
        content: '';
        transform: skewY(-9deg);
        background-color: inherit;
        display: block;
        z-index: -1;
        height: 600px;
        top: -100px;
        width: 100%;
        position: absolute;
      }
      &::after {
        content: '';
        transform: skewY(-9deg);
        background-color: inherit;
        display: block;
        z-index: -1;
        height: 600px;
        bottom: -200px;
        width: 100%;
        position: absolute;
      }
      > .content-wrapper {
        transform: skewY(0deg);
      }
      
      &.marketplace::after {
        display: none;
      }
    }

    &.hero-block {
      padding-bottom: 0;
      margin-top: -65px;
      .content-wrapper {
        padding-top: 65px;
        padding-bottom: 0;
        @include media-breakpoint-up(md) {
          padding-top: 130px;
        }
      }
    }

    @include media-breakpoint-up(md){
      padding-top: 130px;
      padding-bottom: 90px;

      &.hero-block {
        margin-top: -180px;
        padding-top: 180px;
        padding-bottom: 65px;
      }
      &.intro {
        padding-bottom: 65px;
        padding-top: 130px;
      }
    }
    @include media-breakpoint-up(xl){
      padding-top: 205px;
      padding-bottom: 130px;

      &.hero-block {
        margin-top: -290px;
        padding-top: 290px;
        padding-bottom: 90px;
      }
      &.intro {
        padding-bottom: 90px;
        padding-top: 205px;
      }
    }

    > .content-wrapper {
      transform: skewY(9deg);
    }
  }
}

.content-block-xl{
  @include media-breakpoint-up(md) {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.content-block-title {
  padding: 60px 0;

  @include media-breakpoint-up(md) {
    padding: 80px 0;
  } 
}

.content-block-gray-100{
  background: $gray-100;
}

.content-block-gray-900{
  background: $gray-900;
  color: $white-08;

  h1, h2, h3, h4, h5, h6, .title{
    color: #ffffff;
  }
}

.content-block-white{
  background: $white;
}

//Contact form wrapper
.contact-block{
  max-width: 900px;
  margin: 0 auto;
}

// Security page wrapper
.security-block{
  max-width: 680px;
  margin: 0 auto;

  figure {
    margin-bottom: 40px;

    img {
      width: 100%;
    }
  }
}

// Community guidelines page wrapper
.community-guidelines-block {
  max-width: 680px;
  margin: 0 auto;
}

//Features hero banner
.features-hero{
  padding-bottom: 40px;
}

//Features main block
.features-main-block{
  .feature{
    max-width: 300px;
    margin: 0 auto 2rem;

    .picture{
      margin-bottom: 1rem;
      @include media-breakpoint-up(md){ height: 42px; }
    }
    .isvg{ margin-top: 0; }
  }
}

// Bottom CTA
.call-to-action {
  .title {
    margin-bottom: $spacer * 3;
    
    @include media-breakpoint-up(md) {
      font-size: $h2-font-size;
      line-height: $line-height-sm;
    }
  }

  .btn {
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, .2);

    &.btn-lg {
      padding: .75rem ($spacer * 2);
    }
  }
}
