.content-block{
  padding-top: 48px;
  padding-bottom: 48px;

  @include media-breakpoint-up(md){
    padding-top: 80px;
    padding-bottom: 80px;

    .block-content{ max-width: 480px; }
  }
}

.content-block-lg{
  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.content-block-gray-100{
  background: $gray-100;
}


.content-block-gray-900{
  background: $gray-900;
  color: $white-08;

  h1, h2, h3, h4, h5, h6, .title{
    color: #ffffff;
  }
}

//Contact form wrapper
.contact-block{
  max-width: 485px;
  margin: 0 auto;
}

//Features hero banner
.features-hero{
  padding-bottom: 40px;

  .container{ max-width: 740px + $grid-gutter-width; }
}

//Features main block
.features-main-block{
  .feature{
    max-width: 300px;
    margin: 0 auto 2rem;

    .isvg{ margin-bottom: 1rem; }
    .title{ font-weight: $font-weight-base; }
  }
}

//Features details block
.features-details-block{
  .container{
    max-width: 960px + $grid-gutter-width;
  }

  .features-group{
    @include media-breakpoint-up(lg){
      > .title a{
        cursor: default;
        color: $body-color;
      }

      .collapse{
        display: block !important;
      }
    }
  }

  .feature{
    margin: 0 auto 2rem;

    @include media-breakpoint-up(md){
      max-width: 300px;
      margin-left: 0;
      margin-right: 0;
    }

    .title{
      font-weight: $font-weight-base;
    }
  }
}