.content-block{
  padding-top: 65px;
  padding-bottom: 65px;

  @include media-breakpoint-up(md){
    padding-top: 130px;
    padding-bottom: 130px;

    .block-content{ max-width: 480px; }
  }
  
  &--skewed {
    padding-top: 65px;
    padding-bottom: 65px;
    margin-top: -65px;
    transform: skewY(-8deg);
    &.intro {
      margin-top: -1px;
      transform: skewY(0);
      &::before {
        content: '';
        transform: skewY(-8deg);
        background-color: inherit;
        display: block;
        z-index: -1;
        height: 600px;
        top: -100px;
        width: 100%;
        position: absolute;
      }
      &::after {
        content: '';
        transform: skewY(-8deg);
        background-color: inherit;
        display: block;
        z-index: -1;
        height: 600px;
        bottom: -200px;
        width: 100%;
        position: absolute;
      }
      > .content-wrapper {
        transform: skewY(0);
      }
    }

    @include media-breakpoint-up(md){
      padding-top: 130px;
      padding-bottom: 65px;
      margin-top: -130px;
      
      &.intro {
        margin-top: -1px;
      }
    }
    @include media-breakpoint-up(xl){
      padding-top: 180px;
      padding-bottom: 90px;
      margin-top: -180px;
      
      &.intro {
        margin-top: -1px;
      }
    }
    
    > .content-wrapper {
      transform: skewY(8deg);
      padding-top: 65px;
      padding-bottom: 65px;
      @include media-breakpoint-up(md) {
        padding-top: 130px;
      }
    }
  }
}

.content-block-xl{
  @include media-breakpoint-up(md) {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.content-block-gray-100{
  background: $gray-100;
}


.content-block-gray-900{
  background: $gray-900;
  color: $white-08;

  h1, h2, h3, h4, h5, h6, .title{
    color: #ffffff;
  }
}

.content-block-white{
  background: $white;
}

//Price calculation block
.calculator-block{
  .block-content{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md){ max-width: none; }
  }

  .solidus-logo {
    width: 100px;
  }
}


//Contact form wrapper
.contact-block{
  max-width: 485px;
  margin: 0 auto;
}

// Security page wrapper
.security-block{
  max-width: 680px;
  margin: 0 auto;
}

// Community guidelines page wrapper
.community-guidelines-block {
  max-width: 680px;
  margin: 0 auto;
}

//Features hero banner
.features-hero{
  padding-bottom: 40px;
}

//Features main block
.features-main-block{
  .feature{
    max-width: 300px;
    margin: 0 auto 2rem;

    .picture{
      margin-bottom: 1rem;
      @include media-breakpoint-up(md){ height: 42px; }
    }
    .isvg{ margin-top: 0; }
  }
}

//Features details block
.features-details-block{

  .features-group{
    @include media-breakpoint-up(lg){
      > .title{
        a{
          cursor: default;
          color: $gray-900; 
          pointer-events: none;
        }

        .isvg-arrow{ display: none; }
      }

      .collapse{
        display: block !important;
      }
    }
  }

  .feature{
    margin: 0 auto 2rem;

    @include media-breakpoint-up(md){
      max-width: 300px;
      margin-left: 0;
      margin-right: 0;
    }

    @include media-breakpoint-up(lg){
      margin-bottom: 3em;
    }

    .title{
      color: $blue;
    }
  }
}

//community block
.community-data{
  margin-bottom: 1rem;
  text-align: left;

  a{
    display: block;

    &:hover{
      .description { opacity: .7; }
      .card { box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35); }
      .isvg { transform: scale(1.05); }
    }
  }

  @include media-breakpoint-down(sm){
    text-align: center;

    &:last-child { margin-bottom: 0; }
  }
}

.community-data .title{
  color: $blue;
  margin-bottom: .5rem;
}

.community-data p{
  font-size: $font-size-sm;
}

.community-block { background-color: $blue; }

.community-block .card{
  height: 70px;
  width: 70px;

  &.rounded-circle > div {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;

    .isvg{
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.community-block .isvg{
  width: 38px;
  height: 38px;
}

.community-content{
  @include media-breakpoint-down(lg){
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 10%, rgba(255,255,255,.5) 50%, rgba(255,255,255,0.25) 90%, rgba(255,255,255,0) 100%);
  }
}

.donor-block img{
  @include media-breakpoint-up(md){
    position: absolute;
    top: 0;
    right: 0;
    height: 485px;
  }
}

.donor-content{
  display: flex;

  @include media-breakpoint-up(md){
    min-height: 485px;
  }
}

.animate-heart {
  animation: beat 1.1s infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center;
}

@keyframes beat {
  0% { transform: scale(1); }
  40% { transform: scale(1.1); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}
