.blog-index-block{
  .blog-index-container {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  
  .card {
    display: block;
    border: 0;
    margin-bottom: 130px;
    
    @include media-breakpoint-up(md) {
      flex: 0 0 45%;
      
      &:first-child {
        display: flex;
        flex: 0 0 calc(100% - 30px);
        flex-direction: row;
        justify-content: space-between;
        
        .blog-post-content {
          width: 45%;
        }
      }
    }
  }

  .blog-pagination{
    margin-top: 80px;
  }
}

.blog-post-preview{
  cursor: pointer;
  display: block;
  border-radius: 0;
  box-shadow: none;
  color: $body-color !important;
  
  .blog-post-cover {
    margin-bottom: $spacer * 2;
  }
  
  .blog-post-content {
    p {
      margin-bottom: 0;
    }
    
    h1:not(.title),
    h2:not(.title),
    h3:not(.title),
    h4:not(.title) {
      font-size: $font-size-base;
      font-weight: 300;
    }
  }
  
  // Style latest article as Featured
  &:first-child {
    display: flex;
    
    .blog-post-cover {
      max-width: 50%;
    }
    
    .blog-post-content {
      padding: 15px 0 15px 60px;
    }
    
    .title {
      font-size: $h3-font-size;
    }
  }  

  .card-body{ padding: 24px; }

  .title{
    transition: all ease 0.3s;
    font-size: 22px;
    margin-bottom: 8px;
  }

  &:hover {
    .title,
    .blog-post-author {
      color: $blue;
    }
  }
}

.blog-post-author{
  transition: all ease 0.3s;
  color: $gray-08;
  margin-bottom: $spacer;
  
  .blog-post-date {
    color: $gray-08;
    
    @include media-breakpoint-up(md) {
      padding: 0 $spacer;
    }
  }
}

.blog-post{
  .post-title{
    letter-spacing: -0.8px;
    margin-bottom: $spacer;
    font-size: 40px;
    @include media-breakpoint-up(md){ font-size: 56px; }
  }

  .lead{
    line-height: 1.78em;
  }

  h2, .h2 {
    margin-top: 3.5rem;
    margin-bottom: $spacer;

    @include media-breakpoint-up(lg){ margin-top: 4rem; }

    & + h3, & + .h3, & + h4, & + .h4{
      margin-top: 2rem;
    }
  }

  h3, .h3, h4, .h4 {
    font-size: 22px;
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(lg){ font-size: 22px; }
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  table {
    width: 100%;
    margin: 1rem 0;
  }
}

.custom-img-texts {
  margin: 0 auto;
  max-width: 100%;
  
  @include media-breakpoint-up(sm) {
    max-width: 60%;
  }
}
