.blog-header {
  padding: 60px 0;

  @include media-breakpoint-up(md) {
    padding: 80px 0;
  } 
}

.blog-index-block{
  .blog-index-container {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  .blog-pagination{
    margin-top: 80px;
  }
}

.blog-post-preview {
  cursor: pointer;
  display: block;
  color: $body-color !important;
  padding: 25px;
  transition: box-shadow .2s linear;

  @include media-breakpoint-up(lg) {
    flex: 0 0 47%;
    align-items: center;
    margin-bottom: 100px;
  }

  &:hover {
    box-shadow: 0 15px 50px 0 rgba(0,0,0,.09);
  }
  
  .blog-post-cover {
    margin-bottom: $spacer * 2;
  }
  
  .blog-post-content {
    p {
      font-size: 17px;
      margin-bottom: 0;
    }
  }    

  .blog-post-author {
    font-size: $font-size-xs;
    margin-bottom: 15px;

    .blog-post-date {
      margin-left: 10px;
    }
  }

  .title{
    font-size: 22px;
    margin-bottom: 15px;
  }
}

.blog-post {
  .blog-post-heading {
    margin-top: 100px;

    .blog-post-author {
      font-size: $font-size-xs;
      margin-bottom: 30px;

      .blog-post-date {
        margin-left: 10px;
      }
    }
  }

  .blog-post-image {
    margin: 25px 0;
  }

  .blog-post-body {
    color: $gray-900;

    h2 {
      font-size: 2rem;
      margin: 50px 0 30px 0;
    }

    h3 {
      font-size: 1.6rem;
    }

    h6 {
      margin-bottom: 20px;
    }

    p {
      @include media-breakpoint-up(lg) {
        font-size: 17px;
        line-height: 1.9;
      }

      code {
        padding: 0 10px;
      }
    }

    ul, ol {
      font-size: 16px;
      padding-bottom: 10px;

      @include media-breakpoint-up(lg) {
        font-size: 17px;
        line-height: 1.9;
      }
    }

    hr {
      margin: 2rem 0;
    }
    
    pre {
      code {
        padding: 5px 20px;
      }
    }

    img, video {
      max-width: 100%;
      margin: 40px auto 40px auto;
      display: block;
    }
  
    table {
      width: 100%;
      margin: 1rem 0;
    }
  }
  
  .custom-img-texts {
    margin: 0 auto;
    max-width: 100%;
    
    @include media-breakpoint-up(sm) {
      max-width: 60%;
    }
  }
}
