.content-block{
  padding-top: 80px;
  padding-bottom: 80px;

  .block-content{
    @include media-breakpoint-up(md){ max-width: 480px; }
  }
}

.content-block-lg{
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-block-gray-100{
  background: $gray-100;
}


.content-block-gray-900{
  background: $gray-900;
  color: $gray-400;


  a{

  }
}