.blog-index-block{
  padding-top: 0;
  background: linear-gradient($gray-100 100px, $body-bg 100px);

  .card {
    border: 0;
    margin-right: 30px;
    margin-left: 30px;
    
    @include media-breakpoint-up(md) {
      flex: 0 0 calc(50% - 60px);
      
      &:first-child {
        flex: 0 0 calc(100% - 60px);
        flex-direction: row;
        margin-bottom: 50px;
      }
    }
  }

  .blog-pagination{
    margin-top: 80px;
  }
}

.blog-post-preview{
  display: block;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 24px;
  color: $body-color !important;
  
  // Style latest article as Featured
  &:first-child {
    display: flex;
    
    .blog-post-cover {
      max-width: 50%;
    }
    
    .blog-post-content {
      padding: 5% 0 5% 5%;
    }
    
    .title {
      font-size: $h3-font-size;
    }
  }

  &:last-child{ margin-bottom: 0; }
  
  .blog-post-content {
    padding-bottom: 65px; 
  }


  .card-body{ padding: 24px; }

  .title{
    transition: all ease 0.3s;
    font-size: 22px;
    margin-bottom: 8px;
  }

  p{
    font-size: inherit !important;
    line-height: inherit !important;
  }

  &:hover{
    border-color: $gray-400;
    color: $gray-900 !important;
    .title{ color: $link-hover-color; }
    .blog-post-author{ color: $gray-08 !important; }
  }
}

.blog-post-author{
  transition: all ease 0.3s;
  font-size: $font-size-sm;
  color: $gray-08;
}

.blog-post{
  .post-title{
    letter-spacing: -0.8px;
    margin-bottom: 1rem;
    font-size: 40px;
    @include media-breakpoint-up(md){ font-size: 56px; }
  }

  .lead{
    line-height: 1.78em;
  }

  h2, .h2 {
    margin-top: 3.5rem;
    margin-bottom: 1rem;

    @include media-breakpoint-up(lg){ margin-top: 4rem; }

    & + h3, & + .h3, & + h4, & + .h4{
      margin-top: 2rem;
    }
  }

  h3, .h3, h4, .h4 {
    font-size: 22px;
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(lg){ font-size: 22px; }
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  table {
    width: 100%;
    margin: 1rem 0;
  }
}

.custom-img-texts {
  margin: 0 auto;
  max-width: 100%;
  
  @include media-breakpoint-up(sm) {
    max-width: 60%;
  }
}
