.community-hero{
  @include media-breakpoint-up(sm){
    .dev-community-circle{
      height: 540px;
    }
    
    .dev-slide,
    .dev-circle{
      width: 44px;
      height: 44px;
    }
  }
  
  @include media-breakpoint-up(md){
    background: url("/assets/images/illustrations/community-hero-bg.svg") no-repeat;
    background-size: contain;
    background-position: top left;
    
    .dev-community-circle{
      background: url("/assets/images/illustrations/dev-slider-bg.svg") no-repeat;
      background-position: top left;
      height: 558px;
      width: 398px;
    }
    
    .dev-slider{
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 1.5em 0;
      position: absolute;
      top: 0;
      right: 1.5em;
    }
  }
}

.dev-community-circle{
  background: url("/assets/images/illustrations/dev-slider-bg-rotated.svg") no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 320px;
}

.dev-slider-content{
  position: relative;
  z-index: -1;
}

.dev-slider{ margin: -40% 0 0; }

.dev-circle{ border-radius: 100%; }

.dev-slide{
  box-shadow: 0px 0px 6px 0px rgba(72,116,235,0.5);
  background-color: $white;
  border-radius: 100%;
}

.dev-slide,
.dev-circle{
  position: absolute;
  width: 34px;
  height: 34px;
}

.dev-slide.wrapper-1{
  top: 190px;
  right: 70px;
  
  @include media-breakpoint-up(sm){
    top: 300px;
    right: 100px;
  }
  
  @include media-breakpoint-up(md){
    top: 150px;
    right: 90px;
  }
}

.dev-slide.wrapper-2{
  bottom: 30px;
  right: 140px;
  
  @include media-breakpoint-up(sm){
    bottom: 115px;
    right: 180px;
  }
  
  @include media-breakpoint-up(md){
    bottom: auto;
    top: 230px;
    right: 25px;
  }
}

.dev-slide.wrapper-3{
  left: 40px;
  bottom: 140px;
  
  @include media-breakpoint-up(sm){
    left: 80px;
    bottom: 200px;
    right: auto;
  }
  
  @include media-breakpoint-up(md){
    left: auto;
    right: 140px;
    bottom: 80px;
  }
}

.wrapper-1{
  .dev-1{
    @include img-retina("/assets/images/team/alessandro-desantis.png", "/assets/images/team/alessandro-desantis@2x.png", 100%, auto);
  }
  
  .dev-2{
    @include img-retina("/assets/images/team/gregor-macdougall.png", "/assets/images/team/gregor-macdougall@2x.png", 100%, auto);
    background-color: $white;
    animation: devFade 10s ease-in-out infinite alternate;
  }
}

.wrapper-2{
  .dev-1{
    @include img-retina("/assets/images/team/eric-saupe.png", "/assets/images/team/jared-norman@2x.png", 100%, auto);
  }
  
  .dev-2{
    @include img-retina("/assets/images/team/alberto-vena.png", "/assets/images/team/alberto-vena@2x.png", 100%, auto);
    background-color: $white;
    animation: devFade 10s ease-in-out 2s infinite alternate;
  }
}

.wrapper-3{
  .dev-2{
    @include img-retina("/assets/images/team/thomas-von-deyen.png", "/assets/images/team/thomas-von-deyen@2x.png", 100%, auto);
    background-color: $white;
  }
  
  .dev-3{
    @include img-retina("/assets/images/team/andrea-longhi.png", "/assets/images/team/andrea-longhi@2x.png", 100%, auto);
    background-color: $white;
    animation: devFade 10s ease-in-out 2s infinite alternate;
  }
}

// Community contributors
.community-contributors{
  ul {
    overflow: hidden;
    position: relative;
  }
  
  ul li {
    margin: $spacer / 2;
    
    &:not(:last-child){
      margin-right: $spacer / 2;
    }
  }
  
  img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  
  .contributor a{
    background-color: darken($gray-100, 5%);
    display: inline-block;
    border-radius: 100%;
    border: 1px solid $blue;
    width: 50px;
    height: 50px;
    
    span{
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
      position: absolute;
    }
    
    &:hover img{
      filter: opacity(65%);
    }
  }
}

.tooltip-gh-icon{
  mask: url("/assets/images/social-icons/github.svg") no-repeat 0 0;
  mask-size: 100% auto;
  background-color: $white;
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;
  margin-right: 5px;
}

@keyframes devFade {
  0% {
  opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}
