.extensions-hero{
  overflow: hidden;
  .img-fluid{
    margin-right: -42%;

    @include media-breakpoint-up(md){
      margin-right: 0;
      max-width: 110%;
    }
  }
}

.extensions-group {
  & > .title {
    line-height: 0;
    margin-bottom: 10px;
  }
}

//Extensions list block
.extensions-filter{
  background-color: rgba(#f3f3f4, 0.5);
  padding-top: 30px;
  padding-bottom: 20px;

  .container{
    @include media-breakpoint-up(lg){
      max-width: 960px + $grid-gutter-width;
    }
  }

  .title{
    display: inline-block;
    text-transform: uppercase;
    font-size: $font-size-xs;
    font-weight: $font-weight-bolder;
    margin-right: 40px;
  }

  .title, .form-check{
    margin-bottom: 10px;
    @include media-breakpoint-up(md){ margin-bottom: 0; }
  }

  @include media-breakpoint-up(md){
    padding-top: 50px;
    padding-bottom: 50px;

    .form-check{
      display: inline-block;
      margin-right: 20px;

      &:last-child{ margin-right: 0; }
    }
  }
}

.extensions-list-block{
  padding-top: 0;

  .container{
    @include media-breakpoint-up(lg){
      max-width: 960px + $grid-gutter-width;
    }
  }

  .extensions-group{
    @include media-breakpoint-up(lg){
      > .title{
        a{
          cursor: default;
          color: $body-color;
          pointer-events: none;
        }

        .isvg-arrow{ display: none; }
      }

      .collapse{ display: block !important; }
    }

    &.empty{ display: none; }
  }

  .extensions{
    @include media-breakpoint-up(md){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      padding-top: 8px;
      padding-bottom: 45px;

      .no-cssgrid &{
        display: block;
        .extension-info{
          margin-bottom: 2rem;
        }

        .card-body {
          display: block;
        }
      }
    }
  }

  .extension-info{
    margin-bottom: 2rem;
    @include media-breakpoint-up(md){ margin-bottom: 0; }
  }

  .accordion-item {
    border: none;
  }
}

.extension-info{
  border-radius: 8px;

  .card-body{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title{
    font-weight: $font-weight-normal;
    margin-bottom: 5px;

    img {
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 2px;
    }
  }

  .category{
    font-size: $font-size-xs;
    color: #a8a9ac;
    letter-spacing: 0.4px;
    font-weight: $font-weight-bolder;
    text-transform: uppercase;
    display: inline-block;
    margin-left: .25rem;
    margin-right: 1rem;
    &:last-child{ margin-right: 0; }
  }

  p {
    margin-bottom: 0;
    color: rgba(36, 40, 47, 0.8);
  }

  .link{
    display: block;
    margin-top: auto;
    margin-bottom: 0;
    font-weight: $font-weight-bolder;
  }

  &.deselected{
    display: none;
  }
}

.extension-meta {
  margin-top: auto;
}

.extension-ci {
  margin-top: 1rem;
  margin-bottom: 1rem;

  span {
    display: inline-block;
    margin-right: .25rem;
  }
}

.extension-meta {
  display: flex;
  border-top: 1px solid $gray-200;
  padding-top: .75rem;

  .extension-org {
    .extension-org-logo {
      width: 15px;
      height: 15px;
    }
  }

  .extension-gh {
    margin-left: auto;
  }
}
