.hero-block {
  position: relative;
  z-index: 1000;
  
  .hero-image-wrapper {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .hero-image {
    width: 100%;
    // Avoid general height: auto to show imgs also on IE11
    // Add the height rule on sm screens. This fix unwanted margins
    // on Safari and Firefox 
    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }

  @include media-breakpoint-up(lg) {
    .hero-image {
      position: absolute;
    }
    
    &.homepage-hero {
      .hero-image-wrapper {
        min-height: 400px;
      }
      .hero-image {
        right: 0;
        top: -100px;
        width: 630px;
      }
    }
    
    &.integrations-hero {
      .hero-image {
        right: 0;
        top: -250px;
        width: 630px;
      }
    }
    
    &.features-hero {
      .hero-image-wrapper {
        min-height: 400px;
      }
      .hero-image {
        right: 0;
        top: -100px;
        width: 560px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &.homepage-hero {
      .hero-image {
        right: -50px;
        top: -200px;
        width: 830px;
      }
    }
    
    &.features-hero {
      .hero-image {
        right: -70px;
        top: 30px;
        width: 715px;
      }
    }
  }
  
  @include media-breakpoint-down(sm) {
    .btn-primary,
    .btn-secondary {
      display: block;
      width: 100%;
    }
  }
}

.hero-background {
  position: absolute;
  z-index: -1;
  top: -15%;
  left: -10%;
  
  .industries-hero & {
    top: auto;
    bottom: -10%;
  }
  
  @include media-breakpoint-down(lg) {
    top: 0;
    max-width: 100%;
    height: auto;
    
    .industries-hero & {
      left: -10%;
      max-width: 114%;
    }
  }
  
  @include media-breakpoint-down(md) {
    top: -6%;
    left: 0;
    
    .industries-hero & {
      left: 5%;
      max-width: 100%;
    }
  }
  
  @include media-breakpoint-down(sm) {
    top: 0;
    left: 0;
    
    .industries-hero & {
      bottom: -10%;
      left: -10%;
      max-width: 114%;
    }
  }
}

.floating-sphere {
 transform: translateY(0);
 animation: float 3s ease-in-out infinite;
 
 &.sphere-1 {
   animation-delay: .75s;
 }
 &.sphere-2 {
   animation-delay: .4s;
 }
 &.sphere-3 {
   animation-delay: 1.2s;
 }
 &.sphere-4 {
   animation-delay: 2s;
 }
}

@keyframes float {
 0% {
   transform: translateY(0);
 }
 50% {
   transform: translateY(-12px);
 }
 100% {
   transform: translateY(0);
 }
}
