.homepage-hero{
  padding-bottom: 0;
  position: relative;
  z-index: 1;
  
  &.testimonials {
    @include media-breakpoint-up(md){
      .container{ height: 100px; }
      
      & + .content-block{
        padding-top: 400px;
      }
    }
  }
}

.testimonials.skew-block .container{
  &:after {
    @include media-breakpoint-up(md) {
      bottom: -100%;
    }
  }
}

.testimonials {
  .carousel-content {
    position: relative;
    @include media-breakpoint-up(lg) { height: 520px; }
  }
  
  .blockquote {
    text-align: left;
    padding: $spacer;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    position: relative;
    @include media-breakpoint-up(lg) {
      width: 480px;
      height: 440px;
      padding: $spacer * 3;
    }
    @include media-breakpoint-down(sm) {
      height: 350px;
    }
    
    .quote {
      transform: translate(0, 150%);
    }
    p {
      font-weight: $headings-font-weight;
      line-height: $headings-line-height;
      color: $white;
      margin-bottom: 0;
    }
  }
  
  .text {
    color: $white;
    font-size: $font-size-sm;
  }
  
  .author {
    display: block;
    font-weight: $headings-font-weight;
    font-size: $font-size-md;
  }
  
  .logo {
    height: auto;
    svg {
      min-width: 100%;
      height: auto;
    }
    @include media-breakpoint-down(sm) {
      transform: scale(.75);
    }
  }
  
  .inherit-fill { fill: $white; }
  
  .main-image-container {
    max-height: 180px;
    @include media-breakpoint-up(lg) {
      max-height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}

.blockquote {
  &.meundies {
    background-color: #7023F0;
    .logo { width: 131px; }
    p {
      font-size: 22px;
    }
  }
  &.floyd {
    background-color: #EF4023;
    .logo { width: 100px; }
    p {
      font-size: 24px;
    }
  }
  &.glossier {
    background-color: #F5E3E7;
    .logo { width: 131px; }
    .inherit-fill { fill: $gray-900; }
    p {
      font-size: 18px;
      color: $gray-900;
    }
    .text { color: $gray-900; }
  }
}

.features-section {
  .nav {
    .nav-link {
      color: $body-color;
      position: relative;
      padding: ($spacer * 2);
      
      &.active { color: $body-color; }
      
      @include media-breakpoint-up(md) {
        &.active {
          background-color: lighten($primary, 36);
          border-radius: ($border-radius-lg * 2);
          
          &::after { opacity: 1; }
        }
        
        &::after {
          content: '';
          border-color: transparent lighten($primary, 36) transparent transparent;
          border-style: solid;
          border-width: 10px 10px 10px 0;
          position: absolute;
          top: 50%;
          left: -10px;
          transform: translateY(-50%);
          opacity: 0;
          display: block;
          width: 0;
          height: 0;
        }
      }
    }
  }
  
  .left-block {
    .nav .nav-link {
      @include media-breakpoint-up(md) {
        &.active {
          &::after {
            left: auto;
            right: -10px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  
  &--image {
    display: none;
    visibility: hidden;
    @include media-breakpoint-up(md) {
      display: block;
      visibility: visible;
    }
  }
  
  .img-wrap {
    margin-bottom: ($spacer * 2);
    @include media-breakpoint-up(md) {
      display: none;
      visibility: hidden;
    }
  }
}
