.homepage-hero{
  padding-bottom: 0;
  position: relative;
  z-index: 1;

  @include media-breakpoint-up(md){
    .container{ height: 200px; }
    
    & + .content-block{
      padding-top: ((200px / 2) + (80px * 3)) / 2;
    }
  }
  
  @include media-breakpoint-up(lg){
    .container{ height: 400px; }
    
    & + .content-block{
      padding-top: ((400px / 2) + (80px * 3)) / 2;
    }
  }
}

.testimonials {
  .carousel-content {
    position: relative;
    min-height: 600px;
  }
  
  .blockquote-container {
    background-color: $primary;
    padding: $spacer * 3;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .15);
    position: relative;
    @include media-breakpoint-up(md) {
      max-width: 486px;
      min-height: 380px;
    }
    
    .logo {
      position: absolute;
      bottom: -100px;
      left: 0;
      width: 100%;
      
      .isvg {
        width: 100px;
      }
    }
    
    p {
      font-weight: $headings-font-weight;
      font-size: $h2-font-size;
      line-height: $headings-line-height;
    }
    
    .author {
      display: block;
      font-weight: $font-weight-bold;
      font-size: $font-size-lg;
    }
  }
  
  .main-image-container {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: -1;
    visibility: hidden;
    @include media-breakpoint-up(md) {
      visibility: visible;
    }
  }
}
