.dark-background {
  background-color: $gray-900;
  position: relative;
  overflow: hidden;
}

.homepage-hero {
  position: relative;
  z-index: 1000;
  
  .hero-image-wrapper {
    position: relative;
    width: 100%;
  }

  @include media-breakpoint-up(lg) {
    .hero-image-wrapper {
      min-height: 400px;
    }
    .hero-image {
      position: absolute;
      right: 0;
      top: -100px;
      width: 630px;
    }
  }

  @include media-breakpoint-up(xl) {
    .hero-image {
      position: absolute;
      right: -50px;
      top: -200px;
      width: 830px;
    }
  }
  
  @include media-breakpoint-down(sm) {
    .btn {
      display: block;
      width: 100%;
    }
  }
}

.testimonials {
  .carousel-content {
    position: relative;
    @include media-breakpoint-up(lg) { height: 520px; }
  }
  
  .blockquote {
    text-align: left;
    padding: $spacer;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    position: relative;
    min-height: 350px;
    @include media-breakpoint-up(lg) {
      width: 480px;
      height: 440px;
      padding: $spacer * 3;
    }
    @include media-breakpoint-up(md) {
      min-height: 260px;
    }
    
    .quote {
      transform: translate(0, 150%);
    }
    p {
      font-weight: $headings-font-weight;
      line-height: $headings-line-height;
      color: $white;
      margin-bottom: 0;
    }
  }
  
  .text {
    color: $white;
    font-size: $font-size-sm;
  }
  
  .author {
    display: block;
    font-weight: $headings-font-weight;
  }
  
  .logo {
    height: auto;
    transform: scale(.75);
    svg {
      min-width: 100%;
      height: auto;
      // Fix on IE11
      max-height: 50px;
    }
    @include media-breakpoint-up(lg) {
      transform: scale(1);
    }
  }
  
  .inherit-fill { fill: $white; }
  
  .main-image-container {
    @include media-breakpoint-up(md) {
      img {
        transform: translateY(-50%);
      }
      &.meundies img {
        transform: translateY(0);
      }  
    }
    
    @include media-breakpoint-up(lg) {
      max-height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      
      img { transform: translateY(0); }
    }
  }
}

.blockquote {
  .testimonials & {
    @include media-breakpoint-up(lg) {
      p {
        font-size: $h3-mobile-font-size;
      }
      .author {
        font-size: $font-size-md;
      }
    }
  }
  
  &.meundies {
    background-color: #7023F0;
    .logo { width: 131px; }
  }
  &.floyd {
    background-color: #EF4023;
    .logo { width: 100px; }
  }
  &.glossier {
    background-color: #F5E3E7;
    .logo { width: 131px; }
    .inherit-fill { fill: $gray-900; }
    p {
      color: $gray-900;
      @include media-breakpoint-up(lg) { font-size: $font-size-md; }
    }
    .text { color: $gray-900; }
  }
}

.features-section {
  .center-image {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
      min-height: 454px;
    }
  }
  .nav {
    .nav-link {
      color: $body-color;
      position: relative;
      padding: 0;
      
      &.active { color: $body-color; }
      
      @include media-breakpoint-up(md) {
        padding: ($spacer * 2);
        
        &.active {
          background-color: lighten($primary, 36);
          border-radius: ($border-radius-lg * 2);
          
          &::after { opacity: 1; }
        }
        
        &::after {
          content: '';
          border-color: transparent lighten($primary, 36) transparent transparent;
          border-style: solid;
          border-width: 10px 10px 10px 0;
          position: absolute;
          top: 50%;
          left: -10px;
          transform: translateY(-50%);
          opacity: 0;
          display: block;
          width: 0;
          height: 0;
        }
      }
      
      @include media-breakpoint-down(md) {
        cursor: default;
      }
    }
    
    .nav-item {
      margin-bottom: $spacer * 3;
      @include media-breakpoint-up(md) { margin-bottom: $spacer / 2; }
    }
  }
  
  .left-block {
    .nav .nav-link {
      @include media-breakpoint-up(md) {
        &.active {
          &::after {
            left: auto;
            right: -10px;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  
  &--image {
    display: none;
    visibility: hidden;
    @include media-breakpoint-up(md) {
      display: block;
      visibility: visible;
    }
  }
  
  .img-wrap {
    margin-bottom: $spacer * 2;
    text-align: center;
    @include media-breakpoint-up(md) {
      display: none;
      visibility: hidden;
    }
  }
  // Reset the default bottom padding - 65px
  &.first > .content-block {
    @include media-breakpoint-down(md) {
      padding-bottom: 0;
    }
  }
}
