.industries {
  .blockquote {
    &.zohr {
      background-color: #FF984D;
      
      .logo svg {
        min-width: auto;
        max-height: auto;
      }
    }
  }
  
  &.community-logos {
    .community-logos__item {
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }
    
    .inherit-fill { fill: $white; }
  }
}
