.industries {
  &__image {
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }
  
  &.testimonials {
    // Set fixed width for the logo
    .logo {
      transform: none;
      width: 120px;
    }
    
    .carousel-content {
      z-index: 998;
    }
    
    .main-image-container {
      img {
        transform: translateY(0);
      }
    }
  }
  
  .blockquote {
    &.zohr {
      background-color: #FF984D;
    }
    
    &.careof {
      background-color: #F1574B;
    }
  }
  
  &.community-logos {
    .community-logos__item {
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }
    
    .inherit-fill { fill: $white; }
  }
}

.industries-hero {
  h5 {
    color: $blue;
  }
  
  .content-wrapper {
    .content-block {
      @include media-breakpoint-up(md){
        padding-top: 65px;
        padding-bottom: 65px;
      }
    }
  }
}
