.integrations-hero {
  background: $blue-darkest;
  color: $white;

  h1 {
    color: $white;
  }
}

.integration {
  &__list {
    margin-top: 30px;

    @include media-breakpoint-up(lg){
      margin-top: 0;
    }

    &__item {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      border: 1px solid $gray-200;
      border-radius: 3px;
      background: $white;
      color: $gray-900;

      &:hover {
        box-shadow: 0 25px 30px 0 rgba(0,0,0,.03), 0 8px 8px 0 rgba(0,0,0,.033);
      }

      &__image {
        padding: (30px / 2);
        width: 150px;
        
        .highlighted & {
          width: auto;
        }

        @include media-breakpoint-up(lg) {
          padding: 30px;
          
          .inline-card & {
            padding: 30px 15px;
          }
        }
      }

      &__description {
        border-left: 1px solid $gray-200;
        padding: 15px;
        margin: 10px 0;
        @include media-breakpoint-up(lg) {
          padding: 20px 30px;
          
          .inline-card & {
            padding: 20px 15px;
            margin: 0;
          }
        }
        
        .highlighted & {
          @include media-breakpoint-down(sm) {
            border-left: 0;
            width: 100%;
          }
        }
        
        @include media-breakpoint-down(lg) {
          width: 80%;
        }

        h4 {
          margin-bottom: 10px;
        }

        p {
          font-size: $small-font-size;
        }
        
        .highlighted & {
          border-left-color: #C1D3FA;
        }
      }
      
      &.inline-card {
        height: 100%;
        
        @include media-breakpoint-up(lg) {
          .isvg {
            width: 75px;
          }
        }
      }
      
      &.highlighted {
        border-color: #C1D3FA;
        cursor: pointer;
        
        @include media-breakpoint-down(sm) {
          display: block;
          
          .btn {
            display: block;
          }
        }
      }
    }
    
    & > div {
      margin-bottom: 20px;
      
      &:hover {
        p {
          color: $primary;
        }
      }
    }
  }
  
  .isvg.group {
    width: 40px;
    height: 40px;
    margin-bottom: $spacer;
    
    @include media-breakpoint-up(lg) {
      width: 60px;
      height: 60px;
      margin-bottom: $spacer * 2;
    }
  }
}

.integrations-cta {
  margin-bottom: 50px;

  @include media-breakpoint-up(md){
    margin-top: 40px;
    margin-bottom: 0;
  }

  .btn {
    margin-top: $spacer;
    display: block;
    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }
    @include media-breakpoint-up(lg) {
      display: inline-block;
    }
    
    & ~ .btn {
      @include media-breakpoint-down(lg) {
        margin-left: 0;
      }
    }
  }
}
