//Common layout blocks

html {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: $min-page-width;
}

html, body {
  height: 100%;
}

body{
  display: flex;
  font-family: $font-family-sans-serif;
  font-size: 17px;
  flex-direction: column;
  padding-top: $mobile-header-height;
  position: relative;

  @include media-breakpoint-down(md){
    &.menu-open{ overflow: hidden; }
  }

  @include media-breakpoint-up(lg) { padding-top: $desktop-header-height; }
}

//Sticky footer styles
.site-header, .site-footer { flex: none; }
.site-content{ flex: 1 0 auto; }


//Site header
.site-header{
  background: #ffffff;
  transition: transform .3s ease-in-out;
  border-bottom: 1px solid $gray-200;

  @include media-breakpoint-down(md){
    .menu-open &{ background-color: $gray-900; }
  }
}

.site-header--top {
  &.site-header--blue,
  &.site-header--dark {
    @include media-breakpoint-up(lg) {
      border-color: rgba(255, 255, 255, 0.15);

      .site-logo {
        .isvg {
          .solidus-logo {
            fill: $white;
          }
        }
      }

      .site-menu .menu-items.no-active li > a {
        color: $white;
      }

      .btn {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
  
  &.site-header--blue {
    @include media-breakpoint-up(lg) {
      background: $blue-darkest;
    }
  }

  &.site-header--dark {
    @include media-breakpoint-up(lg) {
      background: $gray-900;
    }
  }
}

.site-header--fixed {
  position: fixed;
  z-index: $zindex-fixed;
  right: 0;
  left: 0;
  top: 0;
}

.site-header--pinned { transform: translateY(0); }

.site-header--unpinned{
  transform: translateY(-100%);

  @include media-breakpoint-down(md) {
    .menu-open & { transform: translateY(0); }
  }
}


//Page footer
.site-footer {
  padding-bottom: 50px !important;

  &__top {
    .footer-logo {
      margin-bottom: 50px;
      display: block;
    }

    h6 {
      font-weight: 700;
      margin-bottom: 20px;
    }

    .footer-links {  
      margin: 0;
      padding: 0;

      .footer-links-item {
        list-style-type: none;
        font-size: $font-size-sm; 
       
        @include media-breakpoint-up(lg) {
          font-size: $font-size-base;
        }
      }
    }

    .footer-newsletter-form {
      margin-top: 50px;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }

      label {
        margin-bottom: 15px;
        font-size: $font-size-sm;
      }

      div {
        display: flex;

        .email {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding: 10px;
          background: $gray-900;
          color: $white;

          &::placeholder {
            color: $white-05;
          }
        }

        .button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding-left: 1em;  
          padding-right: 1em;
        }
      }
    }
  }

  &__bottom {
    margin-top: 50px;
    padding-top: 50px;
    font-size: $font-size-sm;
    text-align: center;
    border-top: 1px solid rgba($white, 0.1);

    @include media-breakpoint-up(lg){
      margin-top: 80px;
      text-align: left;
    }

    .social-links {
      margin-top: 20px;

      @include media-breakpoint-up(lg){
        margin-top: 0;
        text-align: right;
      }
    }

    .netlify-badge {
      margin-top: 60px;
      text-align: center;
    }
  }
}
