//Social links
.social-links{
  @extend .list-inline;
  margin-bottom: 0;
  white-space: nowrap;

  a{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    line-height: 1.8rem;
    text-align: center;
  }
}

.social-links-light{
  a{
    &:hover{ opacity: 0.9; }
  }

  .isvg .inherit-fill { fill: #ffffff; }
}


.social-links-dark{
  a{
    opacity: 0.24;
    &:hover{ opacity: 0.72; }
  }

  .isvg .inherit-fill { fill: $gray-900; }
}


//Community logos
.community-logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .col-6{
    display: flex;
    text-align: center;
  }

  .item{
    display: block;
    max-width: 100%;
    min-width: 75px;
    margin: 1rem auto;

    &:hover{
      transform: scale(1.1);
    }

    .isvg{
      display: block;
      max-width: 100%;
    }
    
    .content-block-gray-100 & {
      @include media-breakpoint-up(lg){
        margin-left: 17px;
        margin-right: 17px;
      }  
    }
  }
}

//Alumni
.alumni {
  margin-top: 30px;
   
  a {
    width: 70px;
    border-radius: 50px;
    overflow: hidden;
    display: block;
  }
}

//Cost calculator
.cost-calculator{
  color: $body-color;
  text-align: center;
  display: block;
  max-width: 480px;
  margin: 0 auto;

  @include media-breakpoint-up(lg){ margin: 0 0 0 auto; }

  .card-body{ padding: 24px 0 0; }

  .title{
    font-weight: $font-weight-light;
    text-align: center;
    margin-bottom: 4px;
  }

  .sales{
    width: 130px;
    margin: 0 auto 11px;
    white-space: nowrap;
    text-align: left;
  }

  .slider{
    max-width: 190px;
    margin: 0 auto 30px;
  }

  .table{
    margin: 0;
    table-layout: fixed;

    td, th{
      border: none;
      padding: 16px 5px;
      width: 50%;

      &:first-child{ border-right: 1px solid $card-border-color; }
    }

    th{
      font-size: 22px;
      line-height: 1.1em;
      height: 80px;
      vertical-align: middle;
      border-top: 1px solid $card-border-color;
    }

    tbody tr:last-child td{ padding-bottom: 24px; }
  }

  .price{
    color: $blue;
    font-size: 86px;
    line-height: 1em;
    letter-spacing: -1.2px;
    font-weight: 300;
    @include respond-to(360px){ font-size: 106px; }
  }

  .expense-title{
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: $gray-048 !important;
    margin-bottom: 4px;
    letter-spacing: 0;

    @include respond-to(360px){
      font-size: $font-size-xs;
      letter-spacing: 0.4px;
    }
  }

  .expense-amount{
    font-size: $h5-font-size;
    line-height: 1.45em;

    @include respond-to(360px){ font-size: $h4-font-size; }
  }
}

.social-plugins-block{
  .social-btn{
    display: inline-block;
    vertical-align: top;
  }

  .fb-share-button{
    > span{ vertical-align: top !important; }
  }
}
