//Social links
.social-links{
  @extend .list-inline;
  margin-bottom: 0;

  a{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    line-height: 1.8rem;
    text-align: center;
  }
}

.social-links-light{
  a{
    opacity: 0.16;
    &:hover{ opacity: 0.48; }
  }

  .isvg .inherit-fill { fill: #ffffff; }
}


.social-links-dark{
  a{
    opacity: 0.24;
    &:hover{ opacity: 0.72; }
  }

  .isvg .inherit-fill { fill: $gray-900; }
}


//Community logos
.community-logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .col-4{
    display: flex;
    text-align: center;
  }

  .item{
    display: block;
    max-width: 100%;
    margin: 1rem auto;

    .isvg{
      display: block;
      max-width: 100%;
    }

    @include media-breakpoint-up(lg){
      margin-left: 17px;
      margin-right: 17px;
    }
  }
}

//Cost calculator
.cost-calculator{
  color: $body-color;
  text-align: center;
  display: block;
  max-width: 480px;
  margin: 0 auto;

  @include media-breakpoint-up(lg){ margin: 0 0 0 auto; }

  .card-body{ padding: 24px 0 0; }

  .title{
    margin-bottom: 17px;
    .sales{
      font-weight: $font-weight-light;
      display: inline-block;
      min-width: 130px;
      text-align: left;
    }
  }

  .slider{
    max-width: 190px;
    margin: 0 auto 30px;
  }

  .table{
    margin: 0;

    td, th{
      border: none;
      padding: 8px 5px;

      &:first-child{ border-right: 1px solid $card-border-color; }
    }

    th{
      height: 80px;
      vertical-align: middle;
      border-top: 1px solid $card-border-color;
    }

    tbody tr:first-child td{ padding-top: 0; }
    tbody tr:last-child td{ padding-bottom: 24px; }
  }

  .price{
    color: $blue;
    font-size: 86px;
    line-height: 1em;
    letter-spacing: -1.2px;
    font-weight: 300;
    @include respond-to(360px){ font-size: 106px; }
  }

  .expense-title{
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
    color: $gray-048;
    margin-bottom: 4px;
    letter-spacing: 0;

    @include respond-to(360px){
      font-size: $font-size-xs;
      letter-spacing: 0.4px;
    }
  }

  .expense-amount{
    font-size: $h6-font-size;
    line-height: 1.45em;

    @include respond-to(360px){ font-size: $h5-font-size; }
  }
}