.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;

  .site-logo{
    float: left;
    width: 125px;
    height: 30px;
    .isvg{
      display: block;
      margin: 0 0 auto;

      @include media-breakpoint-down(md){
        .menu-open &{ .inherit-fill{ fill: #ffffff; } }
      }
    }
  }

  .logo-wrapper, .navbar-right{
    width: 25%;
  }

  .navbar-right{
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    .github-stars, .btn{ display: none; }

    @include media-breakpoint-up(lg){
      display: flex;

      .github-stars, .btn{ display: block; }
    }
  }

  .site-menu-toggler{
    width: 48px;
    height: 48px;
    padding: 16px;
    transform: translateX(12px);

    &, .isvg{
      display: block;
      margin: 0 0 0 auto;
    }

    .isvg-close{
      display: none;
      .inherit-fill{ fill: #ffffff; }
    }

    .menu-open &{
      .isvg-close{ display: block; }
      .isvg-menu{ display: none; }
    }

    @include media-breakpoint-up(lg){ display: none; }
  }

  .github-stars { 
    margin-right: 2rem; 
    line-height: 0;
  }

  @include media-breakpoint-up(lg){
    padding-bottom: 0;
    padding-top: 0;
  }

  @include media-breakpoint-down(md){
    max-width: none;
  }
}

.site-menu{
  background: $gray-900;
  display: none;
  font-size: 1.5rem;
  left: 0;
  line-height: 1.25em;
  position: fixed;
  right: 0;
  height: calc(100vh - #{$mobile-header-height} + 1px); // 1px represents the bottom-border on the header
  z-index: $zindex-sticky;

  .menu-items{
    padding: 0 30px;
    margin-bottom: 0;
    width: 100%;

    a {
      color: #ffffff;
      font-weight: $font-weight-bold;
    }
  }

  @include media-breakpoint-down(md){
    top: 63px;
    flex-direction: column;
    padding-bottom: 32px;

    .menu-open &{
      display: flex;
      opacity: 1;
    }
  }

  @include media-breakpoint-up(lg){
    @include list-unstyled;
    align-items: center;
    display: flex;
    height: auto;
    flex-shrink: 0;
    font-size: $font-size-base;
    opacity: 1;
    background: none;
    position: relative;
    margin-bottom: -1px;

    .menu-items{
      >li{
        display: inline-block;
        margin: 0;
      }

      a {
        color: $gray-048;
        border-bottom: 2px solid transparent;
        display: inline-block;
        padding: 28px 15px 26px;
        font-weight: 500;
        height: 80px;
      }

      .active a, a:hover, a:focus{ color: $gray-900; }

      .active a{ border-bottom-color: $blue; }

      &.no-active a{ color: $gray-900; }
    }
  }

  .nav-item {
    margin-bottom: 30px;

    &.show {
      .dropdown-link {
        &:before {
          transition: transform .2s ease-in-out;
          transform: rotate(-90deg);
        }
      }
    }
  }

  .dropdown {
    a {
      &:focus {
        outline: 0;
      }
    }
    
    .dropdown-link {
      display: block;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 9px;
        right: 6px;
        display: block;
        background: $white;
        height: 15px;
        width: 2px;

        @include media-breakpoint-up(lg){
          display: none;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 50%; 
        right: 0;
        display: block;
        background: $white;
        height: 2px;
        width: 15px;

        @include media-breakpoint-up(lg){
          display: none;
        }
      }
    }

    .dropdown-menu {
      overflow: hidden;
      opacity: 0;
      height: 0;
  
      @include media-breakpoint-up(lg){
        position: absolute;
        background: $white;
        top: 80%;
        border-radius: 5px;
        z-index: 1000;
        text-align: left;
        display: block;
        box-shadow: 0px 5px 40px rgba(36, 40, 47, 0.12);
        transform: translateY(20px);
        min-width: 188px;
        
        a {
          color: $gray-900;
        }
      }
  
      &.show {
        overflow: visible;
        opacity: 1;
        height: auto;
        transform: translateY(0);
        transition: transform .3s linear, opacity .3s linear, visibility .3s linear;
        padding: 20px 30px 0;

        @include media-breakpoint-up(lg){
          padding: 40px;
        }
        
        &.expandable {
          padding: 0;
        }
      }
      
      .dropdown-expand {
        padding: 20px 30px 0;

        @include media-breakpoint-up(lg){
          padding: 40px;
        }
      }

      &--multi {
        min-width: 500px;
        
        &.expandable {
          min-width: 1px;
          transition: padding-right .3s ease;
          
          @include media-breakpoint-up(lg){
            &.expanded {
              padding-right: 190px;
            }
          }
        }

        a {
          height: auto;
          margin-bottom: 15px;
          padding: 0;
          display: block;

          .dropdown-icon {
            @include media-breakpoint-up(lg){
              fill: $gray-900;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        .dropdown-top {
          @include media-breakpoint-up(lg){
            padding-bottom: 40px;
            display: flex;
            justify-content: space-between;
          }

          &__list {
            display: none;

            @include media-breakpoint-up(lg){
              margin: 0;
              padding: 0;
              list-style: none;
              display: block;
            }

            a {
              &:first-child { 
                text-transform: uppercase;
                font-size: $font-size-xs;
                font-weight: $font-weight-bold;
                letter-spacing: 1px;
                color: $blue;
              }
            }
          }
        }

        .dropdown-bottom {
          @include media-breakpoint-up(lg) {
            padding-top: 40px;
            border-top: 1px solid $gray-200;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          &__list {
            margin: 0;
            padding: 0;
            list-style: none;

            &:last-child {
              display: none;

              @include media-breakpoint-up(lg){
                display: block;
                font-size: 14px;
              }
            }
          }
        }
        
        .dropdown-expand {
          @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
          }

          &__list {
            margin: 0;
            padding: 0;
            list-style: none;

            &:last-child {
              display: none;
              opacity: 0;
              transition: opacity .3s linear 1s;
              
              &.expanded {
                display: block;
                opacity: 1;
              }
              
              @include media-breakpoint-up(lg){
                border-left: 1px solid $gray-200;
                position: absolute;
                top: 0;
                right: 40px;
                bottom: 0;
                left: 178px;
                padding: 40px 0 40px 40px;
              }
              
              @include media-breakpoint-down(md) {
                padding: 20px 0 0 20px;
              }
            }
          }
        }
      }
  
      .dropdown-item {
        margin-bottom: 20px;
        font-size: 1rem;
        display: block;
        font-weight: 300;
        white-space: nowrap;
  
        @include media-breakpoint-up(lg){
          height: auto;
          padding: 0;
          font-size: 1.1rem;
          font-weight: 500;
          color: $gray-900;
        }
        
        &:last-child {
          margin-bottom: 0;
        }
        
        &.open-list {
          &::after {
            content: '';
            background: url("/assets/images/icons/chevron-right.svg") no-repeat;
            background-position: center;
            background-size: 100% auto;
            display: inline-block;
            width: 8px;
            height: 12px;
            margin-left: 10px;
          }
          
          &.opened {
            color: $blue;
          }
          
          @include media-breakpoint-down(md) {
            font-weight: 700;
            
            &::after {
              background: url("/assets/images/icons/chevron-right_white.svg") no-repeat;
              margin-left: 20px;
              transform: rotate(0deg);
              transition: transform .3s ease;
            }
            
            &.opened {
              &::after {
                transform: rotate(90deg);
              }
            }
          }
        }
      }
    }
  }
}
