.partner-block{
  margin: 0 auto 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid $gray-200;

  &:last-child{ margin-bottom: 0; }

  .card{
    font-size: $font-size-xs;
    min-height: 200px;
    margin-bottom: 1.5rem;
  }
  
  .card-deck .card-body {
    padding-left: $card-spacer-x;
  }
  
  .card-footer {
    padding: $card-spacer-y $card-spacer-x;
  }

  .logo{
    align-self: center;
    flex-shrink: 0;
    margin: 0 auto;
    padding: $card-spacer-x;
  }

  .title{
    margin-bottom: 0.5em;
  }

  .link{
    font-weight: 500;
    margin-top: auto;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md){
    margin-bottom: 3.5rem;
    max-width: none;
    
    .logo-wrapper .logo {
      margin-bottom: -(($card-spacer-y * 2) +  1rem);
    }
    //.card{ margin-bottom: 0; }
  }

  @include media-breakpoint-up(lg){
    .card{
      font-size: $font-size-base;
      min-height: 300px;
    }
    
    .card-body{
      padding-left: 0;
    }
  }

  .data{
    @include media-breakpoint-up(md){
      padding-left: 18px + $grid-gutter-width/2;
    }
  }
}
