.roadmap-hero {
  &__anchorlist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url("/assets/images/illustrations/roadmap-hero-sm.svg") no-repeat;
    background-size: 75% auto;
    background-position: center;
    height: 400px;
    padding: ($spacer * 6) 0 ($spacer * 3);

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      justify-content: center;
      background: url("/assets/images/illustrations/roadmap-hero.svg") no-repeat;
      background-size: 100% auto;
      background-position: center top;
      padding: 0 0 0 $spacer;
      height: 650px;
      padding: 0 $spacer;
    }

    @include media-breakpoint-up(lg) {
      height: 500px;
    }
  }

  &__anchorlist__item {
    @include media-breakpoint-up(sm) {
      align-self: flex-end;
      margin-bottom: 0;
      padding: 0 $spacer;

      &:nth-of-type(2){
        margin-bottom: $spacer * 3;
      }
      &:nth-of-type(3){
        margin-bottom: $spacer * 6;
      }
      &:nth-of-type(4){
        margin-bottom: $spacer * 9;
      }
    }

    &__link {
      position: relative;
      backface-visibility: hidden;
      min-width: 132px;
      box-shadow: 0 0 16px 0 rgba(102,199,137,.5);
      transition: all .5s cubic-bezier(.2,1,.3,1);

      @include button-variant($background: $green, $border: $green, $color: $gray-900, $hover-background: $white, $hover-border: $white, $hover-color: $gray-900, $active-background: $white, $active-border: $white, $active-color: $gray-900);
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius);

      @include media-breakpoint-up(sm) {
        &::before {
          content: '';
          position: absolute;
          bottom: $spacer * 3;
          left: 0;
          width: 2px;
          height: 343px;
          background: url("/assets/images/illustrations/roadmap-line.svg") no-repeat;
          background-position: bottom left;
          background-size: 100% auto;
        }
      }

      .arrow-fixed,
      .arrow {
        position: absolute;
        bottom: -26px;
        left: 50%;
        margin-left: -(22px / 2);
      }

      &:hover {
        transition: all 1s cubic-bezier(.2,1,.3,1);
        // Reset the default animation on buttons on hover
        transform: translateY(0);

        .arrow-fixed {
          animation: arrowFixedAnim 2.5s cubic-bezier(.2,1,.3,1) infinite;
        }
        .arrow {
          animation: arrowAnim 2.5s cubic-bezier(.2,1,.3,1) infinite;
        }
      }
    }
  }

  .newsletter-form {
    .button {
      background-color: $primary;
      color: $white;

      &:hover {
        background-color: $link-hover-color;
        color: $white;
      }
    }
  }
}

.roadmap-logo {
  position: absolute;
  top: 0;
  right: 12px;
  width: 50%;
  height: auto;
  z-index: 1;
  @include media-breakpoint-up(sm) {
    width: 186px;
  }
  @include media-breakpoint-up(lg) {
    top: -10%;
  }
}

.roadmap-use-case {
  &__image {
    margin-bottom: 30px;
  }

  &__header {
    margin-bottom: 50px;

    h5 {
      color: $blue;
    }
  }

  &__wrapper {
    border-left: 1px solid;
    border-image: linear-gradient(to bottom, rgba(36,40,48,0), rgba(36,40,48,1), rgba(36,40,48,0)) 1 100%;
    padding: 0 0 0 30px;
  }

  &__timeline {
    position: relative;
    padding: 15px 20px;
    margin: 10px 0;
    border-radius: 4px;
    transition: background .3s linear, box-shadow .3s linear;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 15px + 5px;
      left: -(30px + (14px / 2));
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50px;
      border: 1px solid #505359;
      background: $gray-100;
      transition: all .8s ease;
    }

    &:hover {
      background: #F1F5FE;

      h5::after {
        background-color: $white;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H5V5H0V7H5V12H7V7H12V5H7V0Z' fill='%233C76F0'/%3e%3c/svg%3e");
      }
    }

    h5 {
      margin-bottom: 0;
      position: relative;
      padding-right: 35px;

      &::after {
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        top: -5px;
        right: 0;
        background-color: #F0F0F0;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 0H5V5H0V7H5V12H7V7H12V5H7V0Z' fill='%23CBCBCB'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50px;
        border: 1px solid #EDEDED;
        transition: all .05s linear;
      }
    }

    p {
      display: none;
      width: auto !important;
      margin-top: 15px;
      font-size: $font-size-xs;
      transition: display .3s linear, width .3s linear;
    }

    &.uncollapsed {
      background: $white;
      box-shadow: 0 0 4px 4px rgba(0,0,0, .03);
      transition: background .3s linear, box-shadow .3s linear;

      &::before {
        background: $blue;
        border-color: $white;
        box-shadow: 0 0 0 10px rgba(60,118,240, .08);
      }
    
      h5::after {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='2' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0v2h12V0z' fill='%233C76F0' fill-rule='evenodd'/%3e%3c/svg%3e");
        background-color: $white;
      }
    
      p {
        display: block;
        height: auto;
        transition: display .3s linear, width .3s linear;
      }
    }
  }
}

.roadmap-cta {
  &__image {
    position: relative;
    left: 0;
    transform: none;

    @include media-breakpoint-up(xl) {
      transform: scale(1.3);
      left: 10%;
    }
  }
}

.intro + .roadmap-cta {
  margin-top: 150px;
}

@keyframes arrowAnim {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  5% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes arrowFixedAnim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
