@mixin link-hover {
  position: relative;
  padding: 19px 10px;

  &::after {
    background: $blue;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    transition: width .5s;
    width: 0;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.subnav {
  background-color: $gray-100;
  border-bottom: 1px solid $gray-200;
  font-size: $font-size-xs;
  width: 100%;

  .subnav-wrapper {
    display: flex;
    align-items: center;
    
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow-x: scroll;
    scrollbar-width: none; // Firefox 64
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  ul,
  ul li {
    margin-bottom: 0;
  }
  
  small {
    font-weight: $font-weight-bolder;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  ul {
    display: flex;
    list-style-type: none;

    @include media-breakpoint-up(lg) {
      width: 100%;
      justify-content: center;
    }
  }
  
  &__item {
    align-items: stretch;
    display: inline-flex;
    margin: 0 2%;

    @include media-breakpoint-up(lg) {
      margin: 0 3%;
    }
    
    &__link {
      display: block;
      align-self: center;
      color: $gray-900;
      white-space: nowrap;
      
      @include link-hover;
      
      .selected & {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
