.test {
  
  left: 100%;
  position: absolute;
  opacity:0;
  transition: all .3s ease;
  top: 0;
  
  a {
    color: red !important;
  }
  
  &.expanded {
    opacity: 1;
    transition: all .3s ease;
  }
}
