.use-cases {
  &__image {
    margin-bottom: 30px;
  }

  &__header {
    h5 {
      color: $blue;
    }
  }
  
  &.testimonials {
    .carousel-content {
      z-index: 998;
    }
    
    .main-image-container {
      img {
        transform: translateY(0);
      }
    }
  }
  
  .blockquote {
    p {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
    
    &.yearandday {
      background-color: #9BC8CE;
      .logo { width: 140px; }
    }
  }
}

.use-cases-hero {
  h5 {
    color: $blue;
  }
}
