---
title: Example Article 2
date: 2017-01-02
author: Solidus Core Team
---

<p class="lead">
  Since forking Spree we’ve been so busy putting together our 5329 artisanally-crafted solidus core commits, we often forget to stick our head out of our git logs and talk about where we are and where we’re going.
  %%READMORE%%
  During one of the SolidusConf 2017 keynotes, the Solidus core team made a commitment to more frequently discuss the state and direction of the Solidus project. Before we get into where we’re going, we thought a good place to start is examining how far we’ve come in our two years since forking.
</p>
<p class="lead">Last April (2016) Stembolt wrote about why we’d forked Spree and started Solidus. Since that post was written we’ve had two successful SolidusConfs (Toronto, Canada and London, England), seen adoption skyrocket, and watched our community grow and thrive. Less visibly, through that time the Solidus Core team and the community at large has had its heads-down working on improving the technical side of the Solidus ecosystem.</p>
<p class="lead">While there are many ways to judge the strength and health of a project, a good place to start is to reflect on the goals we set for ourselves when we forked Spree.</p>

<h2 class="title">The Original Goals of Solidus</h2>

<p>Paragraph (BODY 2) ——Regular <strong>strong</strong> <em>italics</em> <a href="#">link</a> <code>&lt;section&gt;code</code> ——, adipiscing elit. Sit amet dictum. Libero eget nisi ullamcorper, quis varius velit lobortis. Mauris ultrices aliquet iaculis. Quisque ut risus orci.

  Vestibulum eu turpis elementum, hendrerit est tempor, ullamcorper felis. Phasellus varius at magna sit amet euismod.</p>
<p>We wanted to fix what we saw as wrong with the project and plan for its future. It was important to vocalize and cement where we wanted the platform to go and needed concrete
  goals we could measure ourselves against.</p>
<p>The conference came up with six points we knew would make the project a success. Once our fork was public, they were posted on the homepage of solidus.io as signposts for other
  developers that shared our goals and concerns.</p>

<div class="img-captioned">
  <img class="img-fluid" src="/assets/images/tmp/blog1.jpg" alt="caption">
  <p class="caption">The original Solidus goals</p>
</div>

<h2 class="title">Reviewing Solidus’ Original Goals</h2>

<h3 class="title">We’ve Earned the Trust of Open Source Developers</h3>
<p>We’ve been uncompromising in our standard of development. We give a broken test suite our highest priority. Every PR is reviewed by at least two seasoned Solidus core members before it is merged. The improvements we’ve made to our test infrastructure and general reliability have directly translated into improvements in the tests and reliability of every store that uses Solidus.</p>

<h3 class="title">Our API is Stable</h3>
<p>We’ve been diligent about deprecating outdated API’s, while continuing to support them through numerous releases to give our users as much time as possible to adapt to the change. The HTTP API has been almost completely backwards compatible since we started, giving stores a guaranteed point of stability when using Solidus.</p>

<ol>
  <li>First list item</li>
  <li>Second list item</li>
  <li>Third list item</li>
</ol>

<ul>
  <li>First list item</li>
  <li>Second list item</li>
  <li>Third list item</li>
</ul>

<h2>Looking forward</h2>

<p>These were ambitious plans and still are. The needs of a platform like Solidus are complex and evolve over time, and so should our goals.</p>
<p>As announced at SolidusConf 2017, our growing community has growing needs like better documentation and an improved website. We look forward to sharing our plans for these in detail with you.</p>