<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/solidus.css">
    <!--
     ______     ______     __         __     _____     __  __     ______    
    /\  ___\   /\  __ \   /\ \       /\ \   /\  __-.  /\ \/\ \   /\  ___\   
    \ \___  \  \ \ \/\ \  \ \ \____  \ \ \  \ \ \/\ \ \ \ \_\ \  \ \___  \  
     \/\_____\  \ \_____\  \ \_____\  \ \_\  \ \____-  \ \_____\  \/\_____\ 
      \/_____/   \/_____/   \/_____/   \/_/   \/____/   \/_____/   \/_____/ 
    -->
  </head>

  <body>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script src="{{ site.baseurl }}/scripts/solidus.js"></script>
  </body>
</html>
