---
title: Contact
---

<div class="content-block container">
  <div class="contact-block">
    <h1 class="title text-center">Contact us</h1>
    <p class="lead mb-4 mb-md-6 text-center">
      Got questions about Solidus? Please complete the form below and we’ll reply as soon as possible. <br>
      Need help implementing a new feature or build a new online store? <a href="/partners">Our partners</a> can help you out.
    </p>

    <form class="contact-form" action="/contact/success" method="POST" name="contact" data-netlify="true">
      <fieldset>
        <div class="form-group">
          <div class="has-float-label">
            <input type="text" class="form-control " name="inputName" id="inputName" placeholder="Name*" required>
            <label for="inputName">Name</label>
          </div>
        </div>
        <div class="form-group">
          <div class="has-float-label">
            <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email*" required>
            <label for="inputEmail">Email</label>
          </div>
        </div>
        <div class="form-group">
          <div class="select-wrap">
            <label for="SelectHelp">How can we help you?</label>
            <select class="form-control" id="SelectHelp" required>
              <option value="">How can we help you?*</option>
              <option>Technical support</option>
              <option>Sales</option>
              <option>Need more information on Solidus</option>
              <option>Need help with a project</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="has-float-label">
            <input type="email" class="form-control" name="inputCompany" id="inputCompany" placeholder="Company" required>
            <label for="inputCompany">Company</label>
          </div>
        </div>
        <div class="form-group">
          <div class="select-wrap">
            <label for="SelectJobRole">Job role</label>
            <select class="form-control" id="SelectJobRole" required>
              <option value="">Job role*</option>
              <option>Business</option>
              <option>Technical</option>
              <option>Other</option>
            </select>
          </div>
        </div>
        <div class="form-group mb-3">
          <div class="has-float-label">
            <textarea class="form-control" name="inputMessage" id="inputMessage" rows="10" placeholder="Message*" required></textarea>
            <label for="inputMessage">Message</label>
          </div>
        </div>
        <p class="small">By submitting, you agree to our <a href="/privacy-policy">Privacy Policy</a>.</p>
        <div data-netlify-recaptcha="true"></div>
        <div class="text-center mt-1">
          <button class="btn btn-primary btn-block" type="submit">Send</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
