---
title: Features
---

<div class="features-hero content-block content-block-gray-900 text-center">
  <div class="container mb-6">
    <h1 class="title">Made for complex storefronts.</h1>
    <p class="lead">When you choose Solidus, you never have to change your platform again. Solidus can flex, adjust and extend as you deliver your customers a personalized shopping experience all day, every day.</p>
  </div>

  <img class="img-fluid" src="assets/images/illustrations/cards.png" srcset="assets/images/illustrations/cards.png, assets/images/illustrations/cards@2x.png 2x" alt="Edit Product">
</div>
