---
title: Solidus, Rails e-Commerce Solution
---

<div class="home-sections">
  <%= partial "home/features" %>
  <%= partial "home/welcome" %>
  <%= partial "home/goals" %>
  <%= partial "home/who-we-are" %>
</div>
