---
title: Solidus, Rails eCommerce Solution
---

<div class="home-sections">
  <%= partial "home/lead" %>
  <%= partial "home/welcome" %>
  <%= partial "home/goals" %>
  <%= partial "home/people" %>
</div>
