---
title: Legal
---

<div class="home-hero container text-center">
  <h1 class="title">You’re going to this.</h1>
  <p class="subtitle">Solidus is an open source ecommerce solution built with Ruby on Rails and maintained by a community of passionate developers. Here’s everything you’ll need to start creating your own online store.</p>

  <div class="ta-c">
    <a href="#" class="btn btn-primary">Go to Github</a>
    <a href="#" class="btn btn-outline-secondary">Read our Docs</a>
  </div>
</div>
