---
title: Solidus Marketing Site Style Guide
---

<%# Inline styles so we don't have to build a whole CSS file just for this internal page %>
<style>
  .style-guide-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em 2em;
  }

  .style-guide-toc {
    margin-top: 2em;
  }

  .style-guide-section {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #eee;
    border-radius: 3px;
  }

  .style-guide-section::after {
    clear: both;
    content: "";
    display: table;
  }

  .style-guide-lead {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
  }

  .style-guide-result,
  .style-guide-code {
    float: left;
    width: 50%;
  }

  .style-guide-result {
    padding-right: 0.5em;
  }

  .style-guide-code {
    padding-left: 0.5em;
  }
</style>

<div class="style-guide-wrapper">
  <div class="style-guide-toc">
    <a href="#buttons">Buttons</a> | <a href="#text-inputs">Text Inputs</a> | <a href="#radios-checkboxes">Radio Buttons and Checkboxes</a> | <a href="#select-dropdowns">Select Dropdowns</a>
  </div>

  <%= partial "style-guide/buttons" %>
  <%= partial "style-guide/text-inputs" %>
  <%= partial "style-guide/radio-checkboxes" %>
  <%= partial "style-guide/select-dropdowns" %>
</div>
