@mixin small-caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@mixin center-y {
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin center-x {
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 767px) { @content; }
  }
}

@mixin clear-margins {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
