@mixin small-caps {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.small-caps {
  @include small-caps;
}

.clearfix {
  @include clearfix;
}

@mixin center-y {
  top: 50%;
  @include transform(translateY(-50%));
}

@mixin center-x {
  left: 50%;
  @include transform(translateX(-50%));
}

@mixin clear-margins {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
