$color-primary: hsl(32,87%,53%);
$color-secondary: hsl(24,6%,17%);
$color-grey: hsl(24,7%,86%);
$color-grey-dark: hsl(24,7%,40%);
$color-grey-inverted: hsl(0,0%,28%);
$white: white;

$font-size-base: 16px;
$spacer: $font-size-base;

$gutter: 48px; // divisible by 4, 3, 2

$width-max: 1200px;
