$color-primary: hsl(32,87%,53%);
$color-secondary: hsl(24,6%,17%);
$color-grey: hsl(24,7%,86%);
$color-grey-inverted: hsl(0,0%,28%);
$white: white;

$base-font-size: 16px;
$spacer: $base-font-size;

$width-max: 1200px;
