.home-features {
  @include clearfix;
}

.home-feature {
  margin: 100px auto 0;
  @include clearfix;

  @include breakpoint($desktop) {
    max-width: span(9);
    font-size: 0; // inline-block, holler
  }

  @include breakpoint($mobile) {
    margin-top: $gutter;
  }

  &:first-child {
    margin-top: 0;
  }

  &.media-aligned-right {
    @include breakpoint($desktop) {
      direction: rtl;
    }
  }
}

.home-feature-content,
.home-feature-media {
  @include breakpoint($desktop) {
    display: inline-block;
    vertical-align: middle;
    font-size: $font-size-base;
  }
}

.home-feature-content {
  @include clear-margins;

  @include breakpoint($desktop) {
    width: span(4 of 9);

    .media-aligned-left & {
      padding-right: gutter(1);
    }

    .media-aligned-right & {
      text-align: left;
      padding-left: gutter(1);
    }
  }
}

.home-feature-media {
  @include breakpoint($desktop) {
    width: span(5 of 9);
  }

  @include breakpoint($mobile) {
    margin-top: $gutter/2;
  }

  img {
    width: 100%;
  }
}
