.project-planning {
  text-align: center;

  h2 {
    margin-top: 0;
  }
}

.project-plans-wrapper {
  @include breakpoint(desktop) {
    max-width: 900px;
    margin: $gutter-desktop auto 0;
    border-top: 1px solid $color-grey;
  }
}

.project-plans {
  @extend .grid-items;
}

.project-plan {
  @extend .grid-item;
  text-align: left;

  p:first-child {
    margin-bottom: 0;
  }

  p:last-child {
    margin-top: 0;
  }
}
