.home-section.lead {
  margin-top: 0;
  text-align: center;

  > h2,
  > p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.api-features {
  max-width: 900px;
  margin: 0 auto $gutter;
}

.api-feature {
  strong {
    font-size: 20px;
  }

  img {
    display: block;
    margin: 0 auto $gutter/4;
  }
}
