.home-section.lead {
  margin-top: 0;
  text-align: center;

  > h2,
  > p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
