.storefronts{
  h2 {
    text-align: center;
  }

  a {
    display: inline-block;
    vertical-align: middle;
  }
}

.store-logos {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.store-logo {
  margin: 50px;
  opacity: .5;
  transition: .15s;

  &:hover{
    opacity: 1;
    transition: .3s;
  }

  @include breakpoint($mobile) {
    margin: 20px;
    transform: scale(.6);
  }
}
