.home-section.newsletter {
  padding-top: $gutter;
  padding-bottom: $gutter;
  text-align: center;

  p {
    margin-top: 0;
  }
}

.newsletter-signup-form {
  @include display(flex);
  max-width: 600px;
  margin: 0 auto;

  input[type="email"] {
    @include flex(1);
    margin-right: $gutter/4;
  }
}
