.people-lead {
  @include clear-margins;

  @include breakpoint($desktop) {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

.people-list-wrapper {
  @include breakpoint($desktop) {
    max-width: 900px;
    margin: 0 auto;
  }
}

.people-list {
  @extend .grid-items;
}

.person {
  @extend .grid-item;
}

.person-name {
  margin-bottom: 0;
}

.person-title {
  margin: 6px 0 0;
  font-size: 0.9em;
  line-height: 1.1em;
}
