.people-lead {
  @include clear-margins;

  @include breakpoint(desktop) {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

.people-list {
  @include breakpoint(desktop) {
    max-width: 900px;
    margin: 0 auto;
    font-size: 0;
  }
}

.person {
  @include breakpoint(desktop) {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin-top: $gutter-desktop;
    padding: 0 $gutter-desktop/2;
    font-size: $font-size-base;
  }
}
