.welcome-lead {
  @include clear-margins;

  @include breakpoint(desktop) {
    h2 {
      text-align: center;
    }

    p:not(:last-child) {
      float: left;
      width: 50%;
      padding: 0 $spacer;
    }

    p:last-child {
      clear: left;
      text-align: center;
    }
  }
}
