.welcome-lead {
  @include clear-margins;

  @include breakpoint(desktop) {
    width: span(9);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
  }
}

.welcome-lead-cta {
  margin-top: $gutter;

  @include breakpoint(mobile) {
    .button:last-child {
      margin-top: $gutter/2;
    }
  }
}
